articleauthoring/3.0/rng/math3.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Math Class Elements -->
<!-- VERSION:   3.0 -->
<!-- DATE:      Feb 2008 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Archiving and Interchange DTD Suite Math Class Elements v3.0 20080202//EN"
       Delivered as file "math3.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    Names all elements in the math classes -->
<!---->
<!-- CONTAINS:   1) Default definition of the math classes -->
<!-- 2) Inline formula <inline-formula> -->
<!-- 3) Display Formula <disp-formula> -->
<!-- 4) TeX Math Equation <tex-math> -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Archiving and Interchange DTD Suite." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Archiving and Interchange DTD -->
<!-- Suite." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Jeff Beck       (NCBI) -->
<!-- Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- Bruce Rosenblum (Inera Inc.) -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Bruce Rosenblum's collaboration with other DTD -->
<!-- authors in completing Version 1.0. The Andrew W. -->
<!-- Mellon Foundation provided support for these -->
<!-- important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- the DTD suite should be sent in email to: -->
<!-- archive-dtd@ncbi.nlm.nih.gov -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
       =============================================================
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite 
       web site at http://dtd.nlm.nih.gov. 
  
       Details on version 3.0 are available at 
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- DISPLAY FORMULA ATTRIBUTES -->
<!-- Attributes for the <disp-formula> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="disp-formula-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- DISPLAY FORMULA GROUP ATTRIBUTES -->
  <!--
    Attributes for the <disp-formula-group>
    element
  -->
  <define name="disp-formula-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- INLINE FORMULA ATTRIBUTES -->
  <!--
    Attribute list for the <inline-formula>
    element
  -->
  <define name="inline-formula-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- TEX MATH ATTRIBUTES -->
  <!-- Attributes for the <disp-formula> element -->
  <define name="tex-math-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="notation">
        <choice>
          <value>LaTeX</value>
          <value>tex</value>
          <value>TEX</value>
          <value>TeX</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="version"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- MATH ELEMENTS (INLINE LEVEL) -->
  <!-- ============================================================= -->
  <!-- FORMULA, INLINE ELEMENTS -->
  <!--
    Elements for use in the <inline-formula> 
    element
  -->
  <define name="inline-formula-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- FORMULA, INLINE MODEL -->
  <!-- Content model for an <inline-formula> -->
  <define name="inline-formula-model">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="inline-formula-elements"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FORMULA, INLINE -->
  <!--
    Inline element for a mathematical
    equation, expression, or formula 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=inline-formula
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=inline-formula
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=inline-formula
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=inline-formula
  -->
  <define name="inline-formula">
    <element name="inline-formula">
      <ref name="inline-formula-attlist"/>
      <ref name="inline-formula-model"/>
    </element>
  </define>
  <define name="inline-formula-attlist" combine="interleave">
    <ref name="inline-formula-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- MATH ELEMENTS (INLINE LEVEL) -->
  <!-- ============================================================= -->
  <!-- DISPLAY FORMULA ELEMENTS -->
  <!--
    Elements for use in the <disp-formula> 
    element
  -->
  <!-- FORMULA, DISPLAY MODEL -->
  <!-- Content model for an <disp-formula> -->
  <define name="disp-formula-model">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="disp-formula-elements"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FORMULA, DISPLAY -->
  <!--
    Block-level (callout) element for a 
    mathematical equation, expression, or 
    formula. 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=disp-formula
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=disp-formula
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=disp-formula
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=disp-formula
  -->
  <define name="disp-formula">
    <element name="disp-formula">
      <ref name="disp-formula-attlist"/>
      <ref name="disp-formula-model"/>
    </element>
  </define>
  <define name="disp-formula-attlist" combine="interleave">
    <ref name="disp-formula-atts"/>
  </define>
  <!-- FORMULA, DISPLAY GROUP MODEL -->
  <!-- Content model for an <disp-formula-group> -->
  <define name="disp-formula-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="block-math.class"/>
    </zeroOrMore>
  </define>
  <!-- FORMULA, DISPLAY GROUP -->
  <!--
    Used for a group of equations or other
    mathematical expressions that are displayed
    together. 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=disp-formula-group
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=disp-formula-group
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=disp-formula-group
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=disp-formula-group
  -->
  <define name="disp-formula-group">
    <element name="disp-formula-group">
      <ref name="disp-formula-group-attlist"/>
      <ref name="disp-formula-group-model"/>
    </element>
  </define>
  <define name="disp-formula-group-attlist" combine="interleave">
    <ref name="disp-formula-group-atts"/>
  </define>
  <!-- TEX MATH EQUATION -->
  <!--
    Used to hold encoded math, expressed in TeX
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=tex-math
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=tex-math
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=tex-math
  -->
  <define name="tex-math">
    <element name="tex-math">
      <ref name="tex-math-attlist"/>
      <text/>
    </element>
  </define>
  <define name="tex-math-attlist" combine="interleave">
    <ref name="tex-math-atts"/>
  </define>
</grammar>
<!-- ================== End Math Class Elements Module =========== -->
