articleauthoring/2.2/rng/mathml2.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- MathML 2.0 DTD  ....................................................... -->
<!-- file: mathml2.dtd -->
<!--
  MathML 2.0 DTD
  
  This is the Mathematical Markup Language (MathML) 2.0, an XML
  application for describing mathematical notation and capturing
  both its structure and content.
  
  Copyright &#xa9; 1998-2003 W3C&#xae; (MIT, ERCIM, Keio), All Rights 
  Reserved. W3C liability, trademark, document use and software
  licensing rules apply. 
  
  Permission to use, copy, modify and distribute the MathML 2.0 DTD and
  its accompanying documentation for any purpose and without fee is
  hereby granted in perpetuity, provided that the above copyright notice
  and this paragraph appear in all copies.  The copyright holders make
  no representation about the suitability of the DTD for any purpose.
  
  It is provided "as is" without expressed or implied warranty.
  
     Revision:   $Id: mathml2.dtd,v 1.12 2003/11/04 13:14:35 davidc Exp $
  
  This entity may be identified by the PUBLIC and SYSTEM identifiers:
  
    PUBLIC "-//W3C//DTD MathML 2.0//EN"
    SYSTEM "mathml2.dtd"
  
  Revisions: editor and revision history at EOF
-->
<!--
  Entity used to enable marked sections which enforces stricter		
  checking of MathML syntax rules		
-->
<!-- MathML Qualified Names module ............................... -->
<grammar xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="mathml2-qname-1.mod.rng"/>
  <!--
    if %NS.prefixed; is INCLUDE, include all NS attributes, 
    otherwise just those associated with MathML
  -->
  <define name="MATHML.NamespaceDecl.attrib">
    <ref name="MATHML.xmlns.attrib"/>
  </define>
  <!-- Attributes shared by all elements  .......................... -->
  <define name="MATHML.Common.attrib">
    <ref name="MATHML.NamespaceDecl.attrib"/>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:type"/>
    </optional>
    <optional>
      <attribute name="class"/>
    </optional>
    <optional>
      <attribute name="style"/>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xref">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="other"/>
    </optional>
  </define>
  <!-- Presentation element set  ................................... -->
  <!-- Attribute definitions -->
  <define name="att-fontsize">
    <optional>
      <attribute name="fontsize"/>
    </optional>
  </define>
  <define name="att-fontweight">
    <optional>
      <attribute name="fontweight">
        <choice>
          <value>normal</value>
          <value>bold</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-fontstyle">
    <optional>
      <attribute name="fontstyle">
        <choice>
          <value>normal</value>
          <value>italic</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-fontfamily">
    <optional>
      <attribute name="fontfamily"/>
    </optional>
  </define>
  <define name="att-color">
    <optional>
      <attribute name="color"/>
    </optional>
  </define>
  <!-- MathML2 typographically-distinguished symbol attributes -->
  <define name="att-mathvariant">
    <optional>
      <attribute name="mathvariant"/>
    </optional>
  </define>
  <define name="att-mathsize">
    <optional>
      <attribute name="mathsize"/>
    </optional>
  </define>
  <define name="att-mathcolor">
    <optional>
      <attribute name="mathcolor"/>
    </optional>
  </define>
  <define name="att-mathbackground">
    <optional>
      <attribute name="mathbackground"/>
    </optional>
  </define>
  <define name="att-fontinfo">
    <ref name="att-fontsize"/>
    <ref name="att-fontweight"/>
    <ref name="att-fontstyle"/>
    <ref name="att-fontfamily"/>
    <ref name="att-color"/>
    <ref name="att-mathvariant"/>
    <ref name="att-mathsize"/>
    <ref name="att-mathcolor"/>
    <ref name="att-mathbackground"/>
  </define>
  <define name="att-form">
    <optional>
      <attribute name="form">
        <choice>
          <value>prefix</value>
          <value>infix</value>
          <value>postfix</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-fence">
    <optional>
      <attribute name="fence">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-separator">
    <optional>
      <attribute name="separator">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-lspace">
    <optional>
      <attribute name="lspace"/>
    </optional>
  </define>
  <define name="att-rspace">
    <optional>
      <attribute name="rspace"/>
    </optional>
  </define>
  <define name="att-stretchy">
    <optional>
      <attribute name="stretchy">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-symmetric">
    <optional>
      <attribute name="symmetric">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-maxsize">
    <optional>
      <attribute name="maxsize"/>
    </optional>
  </define>
  <define name="att-minsize">
    <optional>
      <attribute name="minsize"/>
    </optional>
  </define>
  <define name="att-largeop">
    <optional>
      <attribute name="largeop">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-movablelimits">
    <optional>
      <attribute name="movablelimits">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-accent">
    <optional>
      <attribute name="accent">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-opinfo">
    <ref name="att-form"/>
    <ref name="att-fence"/>
    <ref name="att-separator"/>
    <ref name="att-lspace"/>
    <ref name="att-rspace"/>
    <ref name="att-stretchy"/>
    <ref name="att-symmetric"/>
    <ref name="att-maxsize"/>
    <ref name="att-minsize"/>
    <ref name="att-largeop"/>
    <ref name="att-movablelimits"/>
    <ref name="att-accent"/>
  </define>
  <define name="att-width">
    <optional>
      <attribute name="width"/>
    </optional>
  </define>
  <define name="att-height">
    <optional>
      <attribute name="height"/>
    </optional>
  </define>
  <define name="att-depth">
    <optional>
      <attribute name="depth"/>
    </optional>
  </define>
  <define name="att-linebreak">
    <optional>
      <attribute name="linebreak"/>
    </optional>
  </define>
  <define name="att-sizeinfo">
    <ref name="att-width"/>
    <ref name="att-height"/>
    <ref name="att-depth"/>
  </define>
  <define name="att-lquote">
    <optional>
      <attribute name="lquote"/>
    </optional>
  </define>
  <define name="att-rquote">
    <optional>
      <attribute name="rquote"/>
    </optional>
  </define>
  <define name="att-linethickness">
    <optional>
      <attribute name="linethickness"/>
    </optional>
  </define>
  <define name="att-scriptlevel">
    <optional>
      <attribute name="scriptlevel"/>
    </optional>
  </define>
  <define name="att-displaystyle">
    <optional>
      <attribute name="displaystyle">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-scriptsizemultiplier">
    <optional>
      <attribute name="scriptsizemultiplier"/>
    </optional>
  </define>
  <define name="att-scriptminsize">
    <optional>
      <attribute name="scriptminsize"/>
    </optional>
  </define>
  <define name="att-background">
    <optional>
      <attribute name="background"/>
    </optional>
  </define>
  <define name="att-veryverythinmathspace">
    <optional>
      <attribute name="veryverythinmathspace"/>
    </optional>
  </define>
  <define name="att-verythinmathspace">
    <optional>
      <attribute name="verythinmathspace"/>
    </optional>
  </define>
  <define name="att-thinmathspace">
    <optional>
      <attribute name="thinmathspace"/>
    </optional>
  </define>
  <define name="att-mediummathspace">
    <optional>
      <attribute name="mediummathspace"/>
    </optional>
  </define>
  <define name="att-thickmathspace">
    <optional>
      <attribute name="thickmathspace"/>
    </optional>
  </define>
  <define name="att-verythickmathspace">
    <optional>
      <attribute name="verythickmathspace"/>
    </optional>
  </define>
  <define name="att-veryverythickmathspace">
    <optional>
      <attribute name="veryverythickmathspace"/>
    </optional>
  </define>
  <define name="att-open">
    <optional>
      <attribute name="open"/>
    </optional>
  </define>
  <define name="att-close">
    <optional>
      <attribute name="close"/>
    </optional>
  </define>
  <define name="att-separators">
    <optional>
      <attribute name="separators"/>
    </optional>
  </define>
  <define name="att-subscriptshift">
    <optional>
      <attribute name="subscriptshift"/>
    </optional>
  </define>
  <define name="att-superscriptshift">
    <optional>
      <attribute name="superscriptshift"/>
    </optional>
  </define>
  <define name="att-accentunder">
    <optional>
      <attribute name="accentunder">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-align">
    <optional>
      <attribute name="align"/>
    </optional>
  </define>
  <define name="att-numalign">
    <optional>
      <attribute name="numalign"/>
    </optional>
  </define>
  <define name="att-denomalign">
    <optional>
      <attribute name="denomalign"/>
    </optional>
  </define>
  <define name="att-rowalign-list">
    <optional>
      <attribute name="rowalign"/>
    </optional>
  </define>
  <define name="att-columnalign-list">
    <optional>
      <attribute name="columnalign"/>
    </optional>
  </define>
  <define name="att-rowalign">
    <optional>
      <attribute name="rowalign"/>
    </optional>
  </define>
  <define name="att-columnalign">
    <optional>
      <attribute name="columnalign"/>
    </optional>
  </define>
  <define name="att-columnwidth">
    <optional>
      <attribute name="columnwidth"/>
    </optional>
  </define>
  <define name="att-groupalign-list">
    <optional>
      <attribute name="groupalign"/>
    </optional>
  </define>
  <define name="att-groupalign">
    <optional>
      <attribute name="groupalign"/>
    </optional>
  </define>
  <define name="att-alignmentscope">
    <optional>
      <attribute name="alignmentscope"/>
    </optional>
  </define>
  <define name="att-rowspacing">
    <optional>
      <attribute name="rowspacing"/>
    </optional>
  </define>
  <define name="att-columnspacing">
    <optional>
      <attribute name="columnspacing"/>
    </optional>
  </define>
  <define name="att-rowlines">
    <optional>
      <attribute name="rowlines"/>
    </optional>
  </define>
  <define name="att-columnlines">
    <optional>
      <attribute name="columnlines"/>
    </optional>
  </define>
  <define name="att-frame">
    <optional>
      <attribute name="frame">
        <choice>
          <value>none</value>
          <value>solid</value>
          <value>dashed</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-side">
    <optional>
      <attribute name="side">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>leftoverlap</value>
          <value>rightoverlap</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-framespacing">
    <optional>
      <attribute name="framespacing"/>
    </optional>
  </define>
  <define name="att-minlabelspacing">
    <optional>
      <attribute name="minlabelspacing"/>
    </optional>
  </define>
  <define name="att-equalrows">
    <optional>
      <attribute name="equalrows"/>
    </optional>
  </define>
  <define name="att-equalcolumns">
    <optional>
      <attribute name="equalcolumns"/>
    </optional>
  </define>
  <define name="att-tableinfo">
    <ref name="att-align"/>
    <ref name="att-rowalign-list"/>
    <ref name="att-columnalign-list"/>
    <ref name="att-columnwidth"/>
    <ref name="att-groupalign-list"/>
    <ref name="att-alignmentscope"/>
    <ref name="att-side"/>
    <ref name="att-rowspacing"/>
    <ref name="att-columnspacing"/>
    <ref name="att-rowlines"/>
    <ref name="att-columnlines"/>
    <ref name="att-width"/>
    <ref name="att-frame"/>
    <ref name="att-framespacing"/>
    <ref name="att-minlabelspacing"/>
    <ref name="att-equalrows"/>
    <ref name="att-equalcolumns"/>
    <ref name="att-displaystyle"/>
  </define>
  <define name="att-rowspan">
    <optional>
      <attribute name="rowspan"/>
    </optional>
  </define>
  <define name="att-columnspan">
    <optional>
      <attribute name="columnspan"/>
    </optional>
  </define>
  <define name="att-edge">
    <optional>
      <attribute name="edge">
        <choice>
          <value>left</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-actiontype">
    <optional>
      <attribute name="actiontype"/>
    </optional>
  </define>
  <define name="att-selection">
    <optional>
      <attribute name="selection"/>
    </optional>
  </define>
  <define name="att-name">
    <optional>
      <attribute name="name"/>
    </optional>
  </define>
  <define name="att-alt">
    <optional>
      <attribute name="alt"/>
    </optional>
  </define>
  <define name="att-index">
    <optional>
      <attribute name="index"/>
    </optional>
  </define>
  <define name="att-bevelled">
    <optional>
      <attribute name="bevelled"/>
    </optional>
  </define>
  <!-- Presentation schemata with content -->
  <define name="ptoken">
    <choice>
      <ref name="mml.mi"/>
      <ref name="mml.mn"/>
      <ref name="mml.mo"/>
      <ref name="mml.mtext"/>
      <ref name="mml.ms"/>
    </choice>
  </define>
  <define name="attlist-mml.mi" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-fontinfo"/>
  </define>
  <define name="attlist-mml.mn" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-fontinfo"/>
  </define>
  <define name="attlist-mml.mo" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-fontinfo"/>
    <ref name="att-opinfo"/>
  </define>
  <define name="attlist-mml.mtext" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-fontinfo"/>
  </define>
  <define name="attlist-mml.ms" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-fontinfo"/>
    <ref name="att-lquote"/>
    <ref name="att-rquote"/>
  </define>
  <!-- Empty presentation schemata -->
  <define name="petoken">
    <ref name="mml.mspace"/>
  </define>
  <define name="mml.mspace">
    <element name="mml:mspace">
      <ref name="attlist-mml.mspace"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.mspace" combine="interleave">
    <ref name="att-sizeinfo"/>
    <ref name="att-linebreak"/>
    <ref name="MATHML.Common.attrib"/>
  </define>
  <!-- Presentation: general layout schemata -->
  <define name="pgenschema">
    <choice>
      <ref name="mml.mrow"/>
      <ref name="mml.mfrac"/>
      <ref name="mml.msqrt"/>
      <ref name="mml.mroot"/>
      <ref name="mml.menclose"/>
      <ref name="mml.mstyle"/>
      <ref name="mml.merror"/>
      <ref name="mml.mpadded"/>
      <ref name="mml.mphantom"/>
      <ref name="mml.mfenced"/>
    </choice>
  </define>
  <define name="attlist-mml.mrow" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.mfrac" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-bevelled"/>
    <ref name="att-numalign"/>
    <ref name="att-denomalign"/>
    <ref name="att-linethickness"/>
  </define>
  <define name="attlist-mml.msqrt" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.menclose" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <optional>
      <attribute name="notation" a:defaultValue="longdiv"/>
    </optional>
  </define>
  <define name="attlist-mml.mroot" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.mstyle" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-fontinfo"/>
    <ref name="att-opinfo"/>
    <ref name="att-lquote"/>
    <ref name="att-rquote"/>
    <ref name="att-linethickness"/>
    <ref name="att-scriptlevel"/>
    <ref name="att-scriptsizemultiplier"/>
    <ref name="att-scriptminsize"/>
    <ref name="att-background"/>
    <ref name="att-veryverythinmathspace"/>
    <ref name="att-verythinmathspace"/>
    <ref name="att-thinmathspace"/>
    <ref name="att-mediummathspace"/>
    <ref name="att-thickmathspace"/>
    <ref name="att-verythickmathspace"/>
    <ref name="att-veryverythickmathspace"/>
    <ref name="att-open"/>
    <ref name="att-close"/>
    <ref name="att-separators"/>
    <ref name="att-subscriptshift"/>
    <ref name="att-superscriptshift"/>
    <ref name="att-accentunder"/>
    <ref name="att-tableinfo"/>
    <ref name="att-rowspan"/>
    <ref name="att-columnspan"/>
    <ref name="att-edge"/>
    <ref name="att-selection"/>
    <ref name="att-bevelled"/>
    <ref name="att-height"/>
    <ref name="att-depth"/>
  </define>
  <define name="attlist-mml.merror" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.mpadded" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-sizeinfo"/>
    <ref name="att-lspace"/>
  </define>
  <define name="attlist-mml.mphantom" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.mfenced" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-open"/>
    <ref name="att-close"/>
    <ref name="att-separators"/>
  </define>
  <!-- Presentation layout schemata: scripts and limits -->
  <define name="pscrschema">
    <choice>
      <ref name="mml.msub"/>
      <ref name="mml.msup"/>
      <ref name="mml.msubsup"/>
      <ref name="mml.munder"/>
      <ref name="mml.mover"/>
      <ref name="mml.munderover"/>
      <ref name="mml.mmultiscripts"/>
    </choice>
  </define>
  <define name="attlist-mml.msub" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-subscriptshift"/>
  </define>
  <define name="attlist-mml.msup" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-superscriptshift"/>
  </define>
  <define name="attlist-mml.msubsup" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-subscriptshift"/>
    <ref name="att-superscriptshift"/>
  </define>
  <define name="attlist-mml.munder" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-accentunder"/>
  </define>
  <define name="attlist-mml.mover" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-accent"/>
  </define>
  <define name="attlist-mml.munderover" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-accent"/>
    <ref name="att-accentunder"/>
  </define>
  <define name="attlist-mml.mmultiscripts" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-subscriptshift"/>
    <ref name="att-superscriptshift"/>
  </define>
  <!-- Presentation layout schemata: empty elements for scripts -->
  <define name="pscreschema">
    <choice>
      <ref name="mml.mprescripts"/>
      <ref name="mml.none"/>
    </choice>
  </define>
  <define name="mml.mprescripts">
    <element name="mml:mprescripts">
      <ref name="attlist-mml.mprescripts"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.mprescripts" combine="interleave">
    <ref name="MATHML.xmlns.attrib"/>
  </define>
  <define name="mml.none">
    <element name="mml:none">
      <ref name="attlist-mml.none"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.none" combine="interleave">
    <ref name="MATHML.xmlns.attrib"/>
  </define>
  <!-- Presentation layout schemata: tables -->
  <define name="ptabschema">
    <choice>
      <ref name="mml.mtable"/>
      <ref name="mml.mtr"/>
      <ref name="mml.mlabeledtr"/>
      <ref name="mml.mtd"/>
    </choice>
  </define>
  <define name="attlist-mml.mtable" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-tableinfo"/>
  </define>
  <define name="attlist-mml.mtr" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-rowalign"/>
    <ref name="att-columnalign-list"/>
    <ref name="att-groupalign-list"/>
  </define>
  <define name="attlist-mml.mlabeledtr" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-rowalign"/>
    <ref name="att-columnalign-list"/>
    <ref name="att-groupalign-list"/>
  </define>
  <define name="attlist-mml.mtd" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-rowalign"/>
    <ref name="att-columnalign"/>
    <ref name="att-groupalign-list"/>
    <ref name="att-rowspan"/>
    <ref name="att-columnspan"/>
  </define>
  <define name="plschema">
    <choice>
      <ref name="pgenschema"/>
      <ref name="pscrschema"/>
      <ref name="ptabschema"/>
    </choice>
  </define>
  <!-- Empty presentation layout schemata -->
  <define name="peschema">
    <choice>
      <ref name="mml.maligngroup"/>
      <ref name="mml.malignmark"/>
    </choice>
  </define>
  <define name="mml.malignmark">
    <element name="mml:malignmark">
      <ref name="attlist-mml.malignmark"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.malignmark" combine="interleave">
    <ref name="att-edge"/>
  </define>
  <define name="mml.maligngroup">
    <element name="mml:maligngroup">
      <ref name="attlist-mml.maligngroup"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.maligngroup" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-groupalign"/>
  </define>
  <define name="mml.mglyph">
    <element name="mml:mglyph">
      <ref name="attlist-mml.mglyph"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.mglyph" combine="interleave">
    <ref name="att-alt"/>
    <ref name="att-fontfamily"/>
    <ref name="att-index"/>
  </define>
  <!-- Presentation action schemata -->
  <define name="pactions">
    <ref name="mml.maction"/>
  </define>
  <define name="attlist-mml.maction" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-actiontype"/>
    <ref name="att-selection"/>
  </define>
  <!--
    The following entity for substitution into
    content constructs excludes elements that
    are not valid as expressions.
  -->
  <define name="PresInCont">
    <choice>
      <ref name="ptoken"/>
      <ref name="petoken"/>
      <ref name="plschema"/>
      <ref name="peschema"/>
      <ref name="pactions"/>
    </choice>
  </define>
  <!-- Presentation entity: all presentation constructs -->
  <define name="Presentation">
    <choice>
      <ref name="ptoken"/>
      <ref name="petoken"/>
      <ref name="pscreschema"/>
      <ref name="plschema"/>
      <ref name="peschema"/>
      <ref name="pactions"/>
    </choice>
  </define>
  <!-- Content element set  ........................................ -->
  <!-- Attribute definitions -->
  <define name="att-base">
    <optional>
      <attribute name="base" a:defaultValue="10"/>
    </optional>
  </define>
  <define name="att-closure">
    <optional>
      <attribute name="closure" a:defaultValue="closed"/>
    </optional>
  </define>
  <define name="att-definition">
    <optional>
      <attribute name="definitionURL" a:defaultValue=""/>
    </optional>
  </define>
  <define name="att-encoding">
    <optional>
      <attribute name="encoding" a:defaultValue=""/>
    </optional>
  </define>
  <define name="att-nargs">
    <optional>
      <attribute name="nargs" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="att-occurrence">
    <optional>
      <attribute name="occurrence" a:defaultValue="function-model"/>
    </optional>
  </define>
  <define name="att-order">
    <optional>
      <attribute name="order" a:defaultValue="numeric"/>
    </optional>
  </define>
  <define name="att-scope">
    <optional>
      <attribute name="scope" a:defaultValue="local"/>
    </optional>
  </define>
  <define name="att-type">
    <optional>
      <attribute name="type"/>
    </optional>
  </define>
  <!-- Content elements: leaf nodes -->
  <define name="ctoken">
    <choice>
      <ref name="mml.csymbol"/>
      <ref name="mml.ci"/>
      <ref name="mml.cn"/>
    </choice>
  </define>
  <define name="attlist-mml.ci" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-type"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="attlist-mml.csymbol" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-encoding"/>
    <ref name="att-type"/>
    <ref name="att-definition"/>
  </define>
  <define name="attlist-mml.cn" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-type"/>
    <ref name="att-base"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <!-- Content elements: specials -->
  <define name="cspecial">
    <choice>
      <ref name="mml.apply"/>
      <ref name="mml.reln"/>
      <ref name="mml.lambda"/>
    </choice>
  </define>
  <define name="attlist-mml.apply" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.reln" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.lambda" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <!-- Content elements: others -->
  <define name="cother">
    <choice>
      <ref name="mml.condition"/>
      <ref name="mml.declare"/>
      <ref name="mml.sep"/>
    </choice>
  </define>
  <define name="attlist-mml.condition" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.declare" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-type"/>
    <ref name="att-scope"/>
    <ref name="att-nargs"/>
    <ref name="att-occurrence"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.sep">
    <element name="mml:sep">
      <ref name="attlist-mml.sep"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sep" combine="interleave">
    <ref name="MATHML.xmlns.attrib"/>
  </define>
  <!-- Content elements: semantic mapping -->
  <define name="csemantics">
    <choice>
      <ref name="mml.semantics"/>
      <ref name="mml.annotation"/>
      <ref name="mml.annotation-xml"/>
    </choice>
  </define>
  <define name="attlist-mml.semantics" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="attlist-mml.annotation" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-encoding"/>
  </define>
  <define name="attlist-mml.annotation-xml" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-encoding"/>
  </define>
  <!-- Content elements: constructors -->
  <define name="cconstructor">
    <choice>
      <ref name="mml.interval"/>
      <ref name="mml.list"/>
      <ref name="mml.matrix"/>
      <ref name="mml.matrixrow"/>
      <ref name="mml.set"/>
      <ref name="mml.vector"/>
      <ref name="mml.piecewise"/>
    </choice>
  </define>
  <define name="attlist-mml.interval" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-closure"/>
  </define>
  <define name="attlist-mml.set" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-type"/>
  </define>
  <define name="attlist-mml.list" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-order"/>
  </define>
  <define name="attlist-mml.vector" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.matrix" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.matrixrow" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.piecewise" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.piece" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.otherwise" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <!-- Content elements: symbols -->
  <define name="c0ary">
    <choice>
      <ref name="mml.integers"/>
      <ref name="mml.reals"/>
      <ref name="mml.rationals"/>
      <ref name="mml.naturalnumbers"/>
      <ref name="mml.complexes"/>
      <ref name="mml.primes"/>
      <ref name="mml.exponentiale"/>
      <ref name="mml.imaginaryi"/>
      <ref name="mml.notanumber"/>
      <ref name="mml.true"/>
      <ref name="mml.false"/>
      <ref name="mml.emptyset"/>
      <ref name="mml.pi"/>
      <ref name="mml.eulergamma"/>
      <ref name="mml.infinity"/>
    </choice>
  </define>
  <define name="mml.integers">
    <element name="mml:integers">
      <ref name="attlist-mml.integers"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.integers" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.reals">
    <element name="mml:reals">
      <ref name="attlist-mml.reals"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.reals" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.rationals">
    <element name="mml:rationals">
      <ref name="attlist-mml.rationals"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.rationals" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.naturalnumbers">
    <element name="mml:naturalnumbers">
      <ref name="attlist-mml.naturalnumbers"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.naturalnumbers" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.complexes">
    <element name="mml:complexes">
      <ref name="attlist-mml.complexes"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.complexes" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.primes">
    <element name="mml:primes">
      <ref name="attlist-mml.primes"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.primes" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.exponentiale">
    <element name="mml:exponentiale">
      <ref name="attlist-mml.exponentiale"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.exponentiale" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.imaginaryi">
    <element name="mml:imaginaryi">
      <ref name="attlist-mml.imaginaryi"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.imaginaryi" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.notanumber">
    <element name="mml:notanumber">
      <ref name="attlist-mml.notanumber"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.notanumber" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.true">
    <element name="mml:true">
      <ref name="attlist-mml.true"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.true" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.false">
    <element name="mml:false">
      <ref name="attlist-mml.false"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.false" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.emptyset">
    <element name="mml:emptyset">
      <ref name="attlist-mml.emptyset"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.emptyset" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.pi">
    <element name="mml:pi">
      <ref name="attlist-mml.pi"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.pi" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.eulergamma">
    <element name="mml:eulergamma">
      <ref name="attlist-mml.eulergamma"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.eulergamma" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.infinity">
    <element name="mml:infinity">
      <ref name="attlist-mml.infinity"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.infinity" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <!-- Content elements: operators -->
  <define name="cfuncop1ary">
    <choice>
      <ref name="mml.inverse"/>
      <ref name="mml.ident"/>
      <ref name="mml.domain"/>
      <ref name="mml.codomain"/>
      <ref name="mml.image"/>
    </choice>
  </define>
  <define name="mml.inverse">
    <element name="mml:inverse">
      <ref name="attlist-mml.inverse"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.inverse" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.domain">
    <element name="mml:domain">
      <ref name="attlist-mml.domain"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.domain" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.codomain">
    <element name="mml:codomain">
      <ref name="attlist-mml.codomain"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.codomain" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.image">
    <element name="mml:image">
      <ref name="attlist-mml.image"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.image" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="cfuncopnary">
    <choice>
      <ref name="mml.fn"/>
      <ref name="mml.compose"/>
    </choice>
  </define>
  <define name="attlist-mml.fn" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.ident">
    <element name="mml:ident">
      <ref name="attlist-mml.ident"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.ident" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.compose">
    <element name="mml:compose">
      <ref name="attlist-mml.compose"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.compose" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="carithop1ary">
    <choice>
      <ref name="mml.abs"/>
      <ref name="mml.conjugate"/>
      <ref name="mml.exp"/>
      <ref name="mml.factorial"/>
      <ref name="mml.arg"/>
      <ref name="mml.real"/>
      <ref name="mml.imaginary"/>
      <ref name="mml.floor"/>
      <ref name="mml.ceiling"/>
    </choice>
  </define>
  <define name="mml.exp">
    <element name="mml:exp">
      <ref name="attlist-mml.exp"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.exp" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.abs">
    <element name="mml:abs">
      <ref name="attlist-mml.abs"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.abs" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arg">
    <element name="mml:arg">
      <ref name="attlist-mml.arg"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arg" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.real">
    <element name="mml:real">
      <ref name="attlist-mml.real"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.real" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.imaginary">
    <element name="mml:imaginary">
      <ref name="attlist-mml.imaginary"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.imaginary" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.conjugate">
    <element name="mml:conjugate">
      <ref name="attlist-mml.conjugate"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.conjugate" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.factorial">
    <element name="mml:factorial">
      <ref name="attlist-mml.factorial"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.factorial" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.floor">
    <element name="mml:floor">
      <ref name="attlist-mml.floor"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.floor" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.ceiling">
    <element name="mml:ceiling">
      <ref name="attlist-mml.ceiling"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.ceiling" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="carithop1or2ary">
    <ref name="mml.minus"/>
  </define>
  <define name="mml.minus">
    <element name="mml:minus">
      <ref name="attlist-mml.minus"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.minus" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="carithop2ary">
    <choice>
      <ref name="mml.quotient"/>
      <ref name="mml.divide"/>
      <ref name="mml.power"/>
      <ref name="mml.rem"/>
    </choice>
  </define>
  <define name="mml.quotient">
    <element name="mml:quotient">
      <ref name="attlist-mml.quotient"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.quotient" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.divide">
    <element name="mml:divide">
      <ref name="attlist-mml.divide"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.divide" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.power">
    <element name="mml:power">
      <ref name="attlist-mml.power"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.power" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.rem">
    <element name="mml:rem">
      <ref name="attlist-mml.rem"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.rem" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="carithopnary">
    <choice>
      <ref name="mml.plus"/>
      <ref name="mml.times"/>
      <ref name="mml.max"/>
      <ref name="mml.min"/>
      <ref name="mml.gcd"/>
      <ref name="mml.lcm"/>
    </choice>
  </define>
  <define name="mml.plus">
    <element name="mml:plus">
      <ref name="attlist-mml.plus"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.plus" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.max">
    <element name="mml:max">
      <ref name="attlist-mml.max"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.max" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.min">
    <element name="mml:min">
      <ref name="attlist-mml.min"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.min" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.times">
    <element name="mml:times">
      <ref name="attlist-mml.times"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.times" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.gcd">
    <element name="mml:gcd">
      <ref name="attlist-mml.gcd"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.gcd" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.lcm">
    <element name="mml:lcm">
      <ref name="attlist-mml.lcm"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.lcm" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="carithoproot">
    <ref name="mml.root"/>
  </define>
  <define name="mml.root">
    <element name="mml:root">
      <ref name="attlist-mml.root"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.root" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clogicopquant">
    <choice>
      <ref name="mml.exists"/>
      <ref name="mml.forall"/>
    </choice>
  </define>
  <define name="mml.exists">
    <element name="mml:exists">
      <ref name="attlist-mml.exists"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.exists" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.forall">
    <element name="mml:forall">
      <ref name="attlist-mml.forall"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.forall" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clogicopnary">
    <choice>
      <ref name="mml.and"/>
      <ref name="mml.or"/>
      <ref name="mml.xor"/>
    </choice>
  </define>
  <define name="mml.and">
    <element name="mml:and">
      <ref name="attlist-mml.and"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.and" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.or">
    <element name="mml:or">
      <ref name="attlist-mml.or"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.or" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.xor">
    <element name="mml:xor">
      <ref name="attlist-mml.xor"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.xor" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clogicop1ary">
    <ref name="mml.not"/>
  </define>
  <define name="mml.not">
    <element name="mml:not">
      <ref name="attlist-mml.not"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.not" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clogicop2ary">
    <ref name="mml.implies"/>
  </define>
  <define name="mml.implies">
    <element name="mml:implies">
      <ref name="attlist-mml.implies"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.implies" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="ccalcop">
    <choice>
      <ref name="mml.log"/>
      <ref name="mml.int"/>
      <ref name="mml.diff"/>
      <ref name="mml.partialdiff"/>
      <ref name="mml.divergence"/>
      <ref name="mml.grad"/>
      <ref name="mml.curl"/>
      <ref name="mml.laplacian"/>
    </choice>
  </define>
  <define name="mml.divergence">
    <element name="mml:divergence">
      <ref name="attlist-mml.divergence"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.divergence" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.grad">
    <element name="mml:grad">
      <ref name="attlist-mml.grad"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.grad" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.curl">
    <element name="mml:curl">
      <ref name="attlist-mml.curl"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.curl" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.laplacian">
    <element name="mml:laplacian">
      <ref name="attlist-mml.laplacian"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.laplacian" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.log">
    <element name="mml:log">
      <ref name="attlist-mml.log"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.log" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.int">
    <element name="mml:int">
      <ref name="attlist-mml.int"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.int" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.diff">
    <element name="mml:diff">
      <ref name="attlist-mml.diff"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.diff" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.partialdiff">
    <element name="mml:partialdiff">
      <ref name="attlist-mml.partialdiff"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.partialdiff" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="ccalcop1ary">
    <ref name="mml.ln"/>
  </define>
  <define name="mml.ln">
    <element name="mml:ln">
      <ref name="attlist-mml.ln"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.ln" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="csetop1ary">
    <ref name="mml.card"/>
  </define>
  <define name="mml.card">
    <element name="mml:card">
      <ref name="attlist-mml.card"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.card" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="csetop2ary">
    <ref name="mml.setdiff"/>
  </define>
  <define name="mml.setdiff">
    <element name="mml:setdiff">
      <ref name="attlist-mml.setdiff"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.setdiff" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="csetopnary">
    <choice>
      <ref name="mml.union"/>
      <ref name="mml.intersect"/>
      <ref name="mml.cartesianproduct"/>
    </choice>
  </define>
  <define name="mml.union">
    <element name="mml:union">
      <ref name="attlist-mml.union"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.union" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.intersect">
    <element name="mml:intersect">
      <ref name="attlist-mml.intersect"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.intersect" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.cartesianproduct">
    <element name="mml:cartesianproduct">
      <ref name="attlist-mml.cartesianproduct"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.cartesianproduct" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="cseqop">
    <choice>
      <ref name="mml.sum"/>
      <ref name="mml.product"/>
      <ref name="mml.limit"/>
    </choice>
  </define>
  <define name="mml.sum">
    <element name="mml:sum">
      <ref name="attlist-mml.sum"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sum" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.product">
    <element name="mml:product">
      <ref name="attlist-mml.product"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.product" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.limit">
    <element name="mml:limit">
      <ref name="attlist-mml.limit"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.limit" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="ctrigop">
    <choice>
      <ref name="mml.sin"/>
      <ref name="mml.cos"/>
      <ref name="mml.tan"/>
      <ref name="mml.sec"/>
      <ref name="mml.csc"/>
      <ref name="mml.cot"/>
      <ref name="mml.sinh"/>
      <ref name="mml.cosh"/>
      <ref name="mml.tanh"/>
      <ref name="mml.sech"/>
      <ref name="mml.csch"/>
      <ref name="mml.coth"/>
      <ref name="mml.arcsin"/>
      <ref name="mml.arccos"/>
      <ref name="mml.arctan"/>
      <ref name="mml.arccosh"/>
      <ref name="mml.arccot"/>
      <ref name="mml.arccoth"/>
      <ref name="mml.arccsc"/>
      <ref name="mml.arccsch"/>
      <ref name="mml.arcsec"/>
      <ref name="mml.arcsech"/>
      <ref name="mml.arcsinh"/>
      <ref name="mml.arctanh"/>
    </choice>
  </define>
  <define name="mml.sin">
    <element name="mml:sin">
      <ref name="attlist-mml.sin"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sin" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.cos">
    <element name="mml:cos">
      <ref name="attlist-mml.cos"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.cos" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.tan">
    <element name="mml:tan">
      <ref name="attlist-mml.tan"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.tan" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.sec">
    <element name="mml:sec">
      <ref name="attlist-mml.sec"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sec" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.csc">
    <element name="mml:csc">
      <ref name="attlist-mml.csc"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.csc" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.cot">
    <element name="mml:cot">
      <ref name="attlist-mml.cot"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.cot" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.sinh">
    <element name="mml:sinh">
      <ref name="attlist-mml.sinh"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sinh" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.cosh">
    <element name="mml:cosh">
      <ref name="attlist-mml.cosh"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.cosh" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.tanh">
    <element name="mml:tanh">
      <ref name="attlist-mml.tanh"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.tanh" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.sech">
    <element name="mml:sech">
      <ref name="attlist-mml.sech"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sech" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.csch">
    <element name="mml:csch">
      <ref name="attlist-mml.csch"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.csch" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.coth">
    <element name="mml:coth">
      <ref name="attlist-mml.coth"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.coth" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arcsin">
    <element name="mml:arcsin">
      <ref name="attlist-mml.arcsin"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arcsin" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arccos">
    <element name="mml:arccos">
      <ref name="attlist-mml.arccos"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arccos" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arctan">
    <element name="mml:arctan">
      <ref name="attlist-mml.arctan"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arctan" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arccosh">
    <element name="mml:arccosh">
      <ref name="attlist-mml.arccosh"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arccosh" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arccot">
    <element name="mml:arccot">
      <ref name="attlist-mml.arccot"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arccot" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arccoth">
    <element name="mml:arccoth">
      <ref name="attlist-mml.arccoth"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arccoth" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arccsc">
    <element name="mml:arccsc">
      <ref name="attlist-mml.arccsc"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arccsc" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arccsch">
    <element name="mml:arccsch">
      <ref name="attlist-mml.arccsch"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arccsch" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arcsec">
    <element name="mml:arcsec">
      <ref name="attlist-mml.arcsec"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arcsec" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arcsech">
    <element name="mml:arcsech">
      <ref name="attlist-mml.arcsech"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arcsech" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arcsinh">
    <element name="mml:arcsinh">
      <ref name="attlist-mml.arcsinh"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arcsinh" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.arctanh">
    <element name="mml:arctanh">
      <ref name="attlist-mml.arctanh"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.arctanh" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="cstatopnary">
    <choice>
      <ref name="mml.mean"/>
      <ref name="mml.sdev"/>
      <ref name="mml.variance"/>
      <ref name="mml.median"/>
      <ref name="mml.mode"/>
    </choice>
  </define>
  <define name="mml.mean">
    <element name="mml:mean">
      <ref name="attlist-mml.mean"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.mean" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.sdev">
    <element name="mml:sdev">
      <ref name="attlist-mml.sdev"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.sdev" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.variance">
    <element name="mml:variance">
      <ref name="attlist-mml.variance"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.variance" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.median">
    <element name="mml:median">
      <ref name="attlist-mml.median"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.median" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.mode">
    <element name="mml:mode">
      <ref name="attlist-mml.mode"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.mode" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="cstatopmoment">
    <ref name="mml.moment"/>
  </define>
  <define name="mml.moment">
    <element name="mml:moment">
      <ref name="attlist-mml.moment"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.moment" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clalgop1ary">
    <choice>
      <ref name="mml.determinant"/>
      <ref name="mml.transpose"/>
    </choice>
  </define>
  <define name="mml.determinant">
    <element name="mml:determinant">
      <ref name="attlist-mml.determinant"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.determinant" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.transpose">
    <element name="mml:transpose">
      <ref name="attlist-mml.transpose"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.transpose" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clalgop2ary">
    <choice>
      <ref name="mml.vectorproduct"/>
      <ref name="mml.scalarproduct"/>
      <ref name="mml.outerproduct"/>
    </choice>
  </define>
  <define name="mml.vectorproduct">
    <element name="mml:vectorproduct">
      <ref name="attlist-mml.vectorproduct"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.vectorproduct" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.scalarproduct">
    <element name="mml:scalarproduct">
      <ref name="attlist-mml.scalarproduct"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.scalarproduct" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.outerproduct">
    <element name="mml:outerproduct">
      <ref name="attlist-mml.outerproduct"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.outerproduct" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="clalgopnary">
    <ref name="mml.selector"/>
  </define>
  <define name="mml.selector">
    <element name="mml:selector">
      <ref name="attlist-mml.selector"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.selector" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <!-- Content elements: relations -->
  <define name="cgenrel2ary">
    <choice>
      <ref name="mml.neq"/>
      <ref name="mml.factorof"/>
    </choice>
  </define>
  <define name="mml.neq">
    <element name="mml:neq">
      <ref name="attlist-mml.neq"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.neq" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.factorof">
    <element name="mml:factorof">
      <ref name="attlist-mml.factorof"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.factorof" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="cgenrelnary">
    <choice>
      <ref name="mml.eq"/>
      <ref name="mml.leq"/>
      <ref name="mml.lt"/>
      <ref name="mml.geq"/>
      <ref name="mml.gt"/>
      <ref name="mml.equivalent"/>
      <ref name="mml.approx"/>
    </choice>
  </define>
  <define name="mml.eq">
    <element name="mml:eq">
      <ref name="attlist-mml.eq"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.eq" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.equivalent">
    <element name="mml:equivalent">
      <ref name="attlist-mml.equivalent"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.equivalent" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.approx">
    <element name="mml:approx">
      <ref name="attlist-mml.approx"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.approx" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.gt">
    <element name="mml:gt">
      <ref name="attlist-mml.gt"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.gt" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.lt">
    <element name="mml:lt">
      <ref name="attlist-mml.lt"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.lt" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.geq">
    <element name="mml:geq">
      <ref name="attlist-mml.geq"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.geq" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.leq">
    <element name="mml:leq">
      <ref name="attlist-mml.leq"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.leq" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="csetrel2ary">
    <choice>
      <ref name="mml.in"/>
      <ref name="mml.notin"/>
      <ref name="mml.notsubset"/>
      <ref name="mml.notprsubset"/>
    </choice>
  </define>
  <define name="mml.in">
    <element name="mml:in">
      <ref name="attlist-mml.in"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.in" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.notin">
    <element name="mml:notin">
      <ref name="attlist-mml.notin"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.notin" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.notsubset">
    <element name="mml:notsubset">
      <ref name="attlist-mml.notsubset"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.notsubset" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.notprsubset">
    <element name="mml:notprsubset">
      <ref name="attlist-mml.notprsubset"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.notprsubset" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="csetrelnary">
    <choice>
      <ref name="mml.subset"/>
      <ref name="mml.prsubset"/>
    </choice>
  </define>
  <define name="mml.subset">
    <element name="mml:subset">
      <ref name="attlist-mml.subset"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.subset" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="mml.prsubset">
    <element name="mml:prsubset">
      <ref name="attlist-mml.prsubset"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.prsubset" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
  </define>
  <define name="cseqrel2ary">
    <ref name="mml.tendsto"/>
  </define>
  <define name="mml.tendsto">
    <element name="mml:tendsto">
      <ref name="attlist-mml.tendsto"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-mml.tendsto" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-definition"/>
    <ref name="att-encoding"/>
    <ref name="att-type"/>
  </define>
  <!-- Content elements: quantifiers -->
  <define name="cquantifier">
    <choice>
      <ref name="mml.lowlimit"/>
      <ref name="mml.uplimit"/>
      <ref name="mml.bvar"/>
      <ref name="mml.degree"/>
      <ref name="mml.logbase"/>
      <ref name="mml.momentabout"/>
      <ref name="mml.domainofapplication"/>
    </choice>
  </define>
  <define name="attlist-mml.lowlimit" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.uplimit" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.bvar" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.degree" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.logbase" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.momentabout" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <define name="attlist-mml.domainofapplication" combine="interleave">
    <ref name="MATHML.Common.attrib"/>
  </define>
  <!-- Operator groups -->
  <define name="cop1ary">
    <choice>
      <ref name="cfuncop1ary"/>
      <ref name="carithop1ary"/>
      <ref name="clogicop1ary"/>
      <ref name="ccalcop1ary"/>
      <ref name="ctrigop"/>
      <ref name="clalgop1ary"/>
      <ref name="csetop1ary"/>
    </choice>
  </define>
  <define name="cop2ary">
    <choice>
      <ref name="carithop2ary"/>
      <ref name="clogicop2ary"/>
      <ref name="clalgop2ary"/>
      <ref name="csetop2ary"/>
    </choice>
  </define>
  <define name="copnary">
    <choice>
      <ref name="cfuncopnary"/>
      <ref name="carithopnary"/>
      <ref name="clogicopnary"/>
      <ref name="csetopnary"/>
      <ref name="cstatopnary"/>
      <ref name="clalgopnary"/>
    </choice>
  </define>
  <define name="copmisc">
    <choice>
      <ref name="carithoproot"/>
      <ref name="carithop1or2ary"/>
      <ref name="ccalcop"/>
      <ref name="cseqop"/>
      <ref name="cstatopmoment"/>
      <ref name="clogicopquant"/>
    </choice>
  </define>
  <!-- Relation groups -->
  <define name="crel2ary">
    <choice>
      <ref name="cgenrel2ary"/>
      <ref name="csetrel2ary"/>
      <ref name="cseqrel2ary"/>
    </choice>
  </define>
  <define name="crelnary">
    <choice>
      <ref name="cgenrelnary"/>
      <ref name="csetrelnary"/>
    </choice>
  </define>
  <!-- Content constructs: all -->
  <define name="Content">
    <choice>
      <ref name="ctoken"/>
      <ref name="cspecial"/>
      <ref name="cother"/>
      <ref name="csemantics"/>
      <ref name="c0ary"/>
      <ref name="cconstructor"/>
      <ref name="cquantifier"/>
      <ref name="cop1ary"/>
      <ref name="cop2ary"/>
      <ref name="copnary"/>
      <ref name="copmisc"/>
      <ref name="crel2ary"/>
      <ref name="crelnary"/>
    </choice>
  </define>
  <!-- Content constructs for substitution in presentation structures -->
  <define name="ContInPres">
    <choice>
      <ref name="mml.ci"/>
      <ref name="mml.csymbol"/>
      <ref name="mml.cn"/>
      <ref name="c0ary"/>
      <ref name="mml.apply"/>
      <ref name="mml.fn"/>
      <ref name="mml.lambda"/>
      <ref name="mml.reln"/>
      <ref name="cconstructor"/>
      <ref name="mml.semantics"/>
      <ref name="mml.declare"/>
    </choice>
  </define>
  <!-- ............................................................. -->
  <!--
    Recursive definition for content of expressions. Include
    presentation constructs at lowest level so presentation
    layout schemata hold presentation or content elements.
    Include content constructs at lowest level so content
    elements hold PCDATA or presentation elements at leaf
    level (for permitted substitutable elements in context)
  -->
  <define name="ContentExpression">
    <zeroOrMore>
      <choice>
        <ref name="Content"/>
        <ref name="PresInCont"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="semanticsContentExpression">
    <ref name="ContentExpression"/>
  </define>
  <define name="PresExpression">
    <zeroOrMore>
      <choice>
        <ref name="Presentation"/>
        <ref name="ContInPres"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="MathExpression">
    <zeroOrMore>
      <choice>
        <ref name="PresInCont"/>
        <ref name="ContInPres"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- PCDATA or MathML character elements -->
  <define name="MathMLCharacters">
    <choice>
      <text/>
      <ref name="mml.mglyph"/>
    </choice>
  </define>
  <!-- Content elements: tokens -->
  <!-- (may contain embedded presentation constructs) -->
  <define name="mml.ci">
    <element name="mml:ci">
      <ref name="attlist-mml.ci"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="PresInCont"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mml.csymbol">
    <element name="mml:csymbol">
      <ref name="attlist-mml.csymbol"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="PresInCont"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mml.cn">
    <element name="mml:cn">
      <ref name="attlist-mml.cn"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="mml.sep"/>
          <ref name="PresInCont"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- Content elements: special -->
  <define name="mml.apply">
    <element name="mml:apply">
      <ref name="attlist-mml.apply"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.reln">
    <element name="mml:reln">
      <ref name="attlist-mml.reln"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.lambda">
    <element name="mml:lambda">
      <ref name="attlist-mml.lambda"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <!-- Content elements: other -->
  <define name="mml.condition">
    <element name="mml:condition">
      <ref name="attlist-mml.condition"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.declare">
    <element name="mml:declare">
      <ref name="attlist-mml.declare"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <!-- Content elements: semantics -->
  <define name="mml.semantics">
    <element name="mml:semantics">
      <ref name="attlist-mml.semantics"/>
      <ref name="semanticsContentExpression"/>
    </element>
  </define>
  <define name="Annotation.content">
    <text/>
  </define>
  <define name="mml.annotation">
    <element name="mml:annotation">
      <ref name="attlist-mml.annotation"/>
      <ref name="Annotation.content"/>
    </element>
  </define>
  <define name="mml.annotation-xml">
    <element name="mml:annotation-xml">
      <ref name="attlist-mml.annotation-xml"/>
      <ref name="any"/>
    </element>
  </define>
  <!-- Content elements: constructors -->
  <define name="mml.interval">
    <element name="mml:interval">
      <ref name="attlist-mml.interval"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.set">
    <element name="mml:set">
      <ref name="attlist-mml.set"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.list">
    <element name="mml:list">
      <ref name="attlist-mml.list"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.vector">
    <element name="mml:vector">
      <ref name="attlist-mml.vector"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.matrix">
    <element name="mml:matrix">
      <ref name="attlist-mml.matrix"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.matrixrow">
    <element name="mml:matrixrow">
      <ref name="attlist-mml.matrixrow"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.piecewise">
    <element name="mml:piecewise">
      <ref name="attlist-mml.piecewise"/>
      <zeroOrMore>
        <ref name="mml.piece"/>
      </zeroOrMore>
      <optional>
        <ref name="mml.otherwise"/>
      </optional>
    </element>
  </define>
  <define name="mml.piece">
    <element name="mml:piece">
      <ref name="attlist-mml.piece"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.otherwise">
    <element name="mml:otherwise">
      <ref name="attlist-mml.otherwise"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <!-- Content elements: operator (user-defined) -->
  <define name="mml.fn">
    <element name="mml:fn">
      <ref name="attlist-mml.fn"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <!-- Content elements: quantifiers -->
  <define name="mml.lowlimit">
    <element name="mml:lowlimit">
      <ref name="attlist-mml.lowlimit"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.uplimit">
    <element name="mml:uplimit">
      <ref name="attlist-mml.uplimit"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.bvar">
    <element name="mml:bvar">
      <ref name="attlist-mml.bvar"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.degree">
    <element name="mml:degree">
      <ref name="attlist-mml.degree"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.logbase">
    <element name="mml:logbase">
      <ref name="attlist-mml.logbase"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.momentabout">
    <element name="mml:momentabout">
      <ref name="attlist-mml.momentabout"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <define name="mml.domainofapplication">
    <element name="mml:domainofapplication">
      <ref name="attlist-mml.domainofapplication"/>
      <ref name="ContentExpression"/>
    </element>
  </define>
  <!-- ............................................................. -->
  <!--
    Presentation layout schemata contain tokens,
    layout and content schemata.
  -->
  <!-- By default keep them as they were in MathML 2.0 -->
  <define name="twoPresExpression">
    <ref name="PresExpression"/>
  </define>
  <define name="threePresExpression">
    <ref name="PresExpression"/>
  </define>
  <define name="mtrPresExpression">
    <ref name="PresExpression"/>
  </define>
  <define name="mtdPresExpression">
    <ref name="PresExpression"/>
  </define>
  <define name="prscrPresExpression">
    <ref name="PresExpression"/>
  </define>
  <define name="mml.mstyle">
    <element name="mml:mstyle">
      <ref name="attlist-mml.mstyle"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.merror">
    <element name="mml:merror">
      <ref name="attlist-mml.merror"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.mphantom">
    <element name="mml:mphantom">
      <ref name="attlist-mml.mphantom"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.mrow">
    <element name="mml:mrow">
      <ref name="attlist-mml.mrow"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.mfrac">
    <element name="mml:mfrac">
      <ref name="attlist-mml.mfrac"/>
      <ref name="twoPresExpression"/>
    </element>
  </define>
  <define name="mml.msqrt">
    <element name="mml:msqrt">
      <ref name="attlist-mml.msqrt"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.menclose">
    <element name="mml:menclose">
      <ref name="attlist-mml.menclose"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.mroot">
    <element name="mml:mroot">
      <ref name="attlist-mml.mroot"/>
      <ref name="twoPresExpression"/>
    </element>
  </define>
  <define name="mml.msub">
    <element name="mml:msub">
      <ref name="attlist-mml.msub"/>
      <ref name="twoPresExpression"/>
    </element>
  </define>
  <define name="mml.msup">
    <element name="mml:msup">
      <ref name="attlist-mml.msup"/>
      <ref name="twoPresExpression"/>
    </element>
  </define>
  <define name="mml.msubsup">
    <element name="mml:msubsup">
      <ref name="attlist-mml.msubsup"/>
      <ref name="threePresExpression"/>
    </element>
  </define>
  <define name="mml.mmultiscripts">
    <element name="mml:mmultiscripts">
      <ref name="attlist-mml.mmultiscripts"/>
      <ref name="prscrPresExpression"/>
    </element>
  </define>
  <define name="mml.munder">
    <element name="mml:munder">
      <ref name="attlist-mml.munder"/>
      <ref name="twoPresExpression"/>
    </element>
  </define>
  <define name="mml.mover">
    <element name="mml:mover">
      <ref name="attlist-mml.mover"/>
      <ref name="twoPresExpression"/>
    </element>
  </define>
  <define name="mml.munderover">
    <element name="mml:munderover">
      <ref name="attlist-mml.munderover"/>
      <ref name="threePresExpression"/>
    </element>
  </define>
  <define name="mml.mtable">
    <element name="mml:mtable">
      <ref name="attlist-mml.mtable"/>
      <ref name="mtrPresExpression"/>
    </element>
  </define>
  <define name="mml.mtr">
    <element name="mml:mtr">
      <ref name="attlist-mml.mtr"/>
      <ref name="mtdPresExpression"/>
    </element>
  </define>
  <define name="mml.mlabeledtr">
    <element name="mml:mlabeledtr">
      <ref name="attlist-mml.mlabeledtr"/>
      <ref name="mtdPresExpression"/>
    </element>
  </define>
  <define name="mml.mtd">
    <element name="mml:mtd">
      <ref name="attlist-mml.mtd"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.maction">
    <element name="mml:maction">
      <ref name="attlist-mml.maction"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.mfenced">
    <element name="mml:mfenced">
      <ref name="attlist-mml.mfenced"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <define name="mml.mpadded">
    <element name="mml:mpadded">
      <ref name="attlist-mml.mpadded"/>
      <ref name="PresExpression"/>
    </element>
  </define>
  <!-- Presentation elements contain PCDATA or malignmark constructs. -->
  <define name="mml.mi">
    <element name="mml:mi">
      <ref name="attlist-mml.mi"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="mml.malignmark"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mml.mn">
    <element name="mml:mn">
      <ref name="attlist-mml.mn"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="mml.malignmark"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mml.mo">
    <element name="mml:mo">
      <ref name="attlist-mml.mo"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="mml.malignmark"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mml.mtext">
    <element name="mml:mtext">
      <ref name="attlist-mml.mtext"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="mml.malignmark"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="mml.ms">
    <element name="mml:ms">
      <ref name="attlist-mml.ms"/>
      <zeroOrMore>
        <choice>
          <ref name="MathMLCharacters"/>
          <ref name="mml.malignmark"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- Browser interface definition  ............................... -->
  <!-- Attributes for top-level element "math" -->
  <define name="att-macros">
    <optional>
      <attribute name="macros"/>
    </optional>
  </define>
  <define name="att-mode">
    <optional>
      <attribute name="mode"/>
    </optional>
  </define>
  <define name="att-display">
    <optional>
      <attribute name="display"/>
    </optional>
  </define>
  <define name="att-schemalocation">
    <optional>
      <attribute name="xsi:schemaLocation"/>
    </optional>
  </define>
  <define name="att-topinfo">
    <ref name="MATHML.Common.attrib"/>
    <ref name="att-schemalocation"/>
    <ref name="att-macros"/>
    <ref name="att-mode"/>
    <ref name="att-display"/>
  </define>
  <!-- Attributes for browser interface element -->
  <define name="att-baseline">
    <optional>
      <attribute name="baseline"/>
    </optional>
  </define>
  <define name="att-overflow">
    <optional>
      <attribute name="overflow" a:defaultValue="scroll">
        <choice>
          <value>scroll</value>
          <value>elide</value>
          <value>truncate</value>
          <value>scale</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att-altimg">
    <optional>
      <attribute name="altimg"/>
    </optional>
  </define>
  <define name="att-alttext">
    <optional>
      <attribute name="alttext"/>
    </optional>
  </define>
  <define name="att-browif">
    <ref name="att-type"/>
    <ref name="att-name"/>
    <ref name="att-height"/>
    <ref name="att-width"/>
    <ref name="att-baseline"/>
    <ref name="att-overflow"/>
    <ref name="att-altimg"/>
    <ref name="att-alttext"/>
  </define>
  <!-- ............................................................. -->
  <!--
    The top-level element "math" contains MathML encoded
    mathematics. The "math" element has the browser info
    attributes iff it is also the browser interface element.
  -->
  <define name="mml.math">
    <element name="mml:math">
      <ref name="attlist-mml.math"/>
      <ref name="MathExpression"/>
    </element>
  </define>
  <define name="attlist-mml.math" combine="interleave">
    <ref name="att-topinfo"/>
    <ref name="att-browif"/>
  </define>
</grammar>
<!-- MathML Character Entities .............................................. -->
<!--
  Revision History:
  
  Initial draft (syntax = XML) 1997-05-09
     Stephen Buswell
  Revised 1997-05-14
     Robert Miner
  Revised 1997-06-29 and 1997-07-02
     Stephen Buswell
  Revised 1997-12-15
     Stephen Buswell
  Revised 1998-02-08
     Stephen Buswell
  Revised 1998-04-04
     Stephen Buswell
  Entities and small revisions 1999-02-21
     David Carlisle
  Added attribute definitionURL to ci and cn 1999-10-11
     Nico Poppelier
  Additions for MathML 2  1999-12-16
     David Carlisle
  Namespace support 2000-01-14
     David Carlisle
  XHTML Compatibility 2000-02-23
     Murray Altheim
  New content elements 2000-03-26
     David Carlisle
  Further revisions for MathML2 CR draft 2000-07-11
     David Carlisle
  Further revisions for MathML2 CR draft 2000-10-31		
     David Carlisle		
  Revisions for Unicode 3.2  2002-05-21		
     David Carlisle		
  Add width and side attributes to mtable (to align with the specification)  2002-06-05		
     David Carlisle		
  Use %XLINK.prefix rather than hardwired xlink:, add xlink:type 2002-06-12		
     David Carlisle		
  Add missing numalign and denomalign attributes for mfrac 2002-07-05		
     David Carlisle		
  Add MathMLstrict entity and related extra constraints 2002-12-05		
     David Carlisle		
  Add support for xi:schemaLocation 2003-04-05		
     David Carlisle		
  Removed actiontype from mstyle (to match spec) 2003-04-07		
     David Carlisle		
  Additional constraints for MathMLstrict code (From Simon		
     Pepping on www-math list) 2003-05-22		
     David Carlisle		
  Add missing minlabelspacing attribute (From Simon		
     Pepping on www-math list) 2003-05-22		
     David Carlisle		
  Removed restricted menclose notation checking from MathMLstrict 2003-09-08		
     David Carlisle		
  
-->
<!-- end of MathML 2.0 DTD  ................................................ -->
<!-- ....................................................................... -->
