article_authoring/2.2/rng/articleauthcustom-models.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Article Authoring DTD Over-ride Content and -->
<!-- Attribute Module -->
<!-- VERSION:   2.2 -->
<!-- DATE:      April 2006 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Article Authoring DTD Over-ride Content and Attribute Module v2.2 20060430//EN"
  Delivered as file "articleauthcustom-models.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Journal Authoring DTD of the -->
<!-- Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride content models or parts of content -->
<!-- models when making a new DTD from the modules of -->
<!-- the Archiving and Interchange DTD Suite. -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- content modules that declare elements. -->
<!---->
<!-- CONTAINS:   1) PEs that define OR lists of elements to be -->
<!-- mixed with #PCDATA in element content models -->
<!-- (all PEs are named "yyy-elements", where "yyy" -->
<!-- is the name of the primary element whose -->
<!-- content model will use the declared PE.) -->
<!-- 2) PEs that define complete content models. -->
<!-- (names ending in the suffix "-model") -->
<!-- 3) PEs that define attribute list or attribute -->
<!-- value over-rides -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital Archive of Journal Articles -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- June 2005 -->
<!---->
<!-- CREATED BY: Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- authoring-dtd@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 2.2                       (DAL/BTU) v2.2 (2006-04-30)
  
       Backwards-compatible changes to meet operational needs.
       Typical changes include adding attribute values and making 
       required elements optional.
  
    4. PREFORMAT ELEMENTS - Added -%phrase.class; to allow use of
       <named-content> inside <preformat>.
  
    3. VERSE GROUP - Added optional <title> and <subtitle> to the
       beginning of <verse-group> through -%verse-group-model:
  
    2. PERSON-GROUP-TYPE ATTRIBUTE VALUES - Added "director"
  
    1. Updated public identifier to "v2.2 20060430//EN"          
-->
<!-- ============================================================= -->
<!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
<!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
<!-- ============================================================= -->
<!-- ADDRESS LINE ELEMENTS -->
<!--                     Elements for use in the <addr-line> element -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="addr-line-elements">
    <ref name="rendition-plus"/>
  </define>
  <!-- AFFILIATION ELEMENTS -->
  <!--
    Elements for use in the <aff> element      
    Removed <label>
  -->
  <define name="aff-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- CHEMICAL STRUCTURE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Chemical Structure
    <chem-struct>
    Removed <label>
  -->
  <define name="chem-struct-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="id.class"/>
      <ref name="list.class"/>
      <ref name="simple-display.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- CITATION ELEMENTS -->
  <!--
    Content model for the <citation> element. 
    Design Note: All inline mixes begin with an
    OR bar.
    Removed <label> and <abbrev>
  -->
  <define name="citation-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="references.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- COLLABORATIVE (GROUP) AUTHOR ELEMENTS -->
  <!--
    Elements for use in the <collab> element
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there. 
    Design Note: All inline mixes begin with an
    OR bar, but since %rendition-plus; is an 
    inline mix, the OR bar is already there.
  -->
  <define name="collab-elements">
    <choice>
      <ref name="rendition-plus"/>
      <ref name="address-link.class"/>
    </choice>
  </define>
  <!-- COMMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Comment in a Citation <comment> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an 
    inline mix, the OR bar is already there.   
    Model is unchanged, but was set to 
    %simple-phrase;, which has changed to 
    restrict its usage in titles
  -->
  <define name="comment-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- CONFERENCE ACRONYM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference acronym.   
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an online
    mix, the OR bar is already there.
  -->
  <define name="conf-acronym-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE LOCATION ELEMENTS -->
  <!--
    Elements for use in the <conf-loc> element 
    Removed %simple-text;
  -->
  <define name="conf-loc-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NAME ELEMENTS -->
  <!--
    Elements for use in the <conf-name> element.
    Removed %simple-text;
  -->
  <define name="conf-name-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference number.     
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="conf-num-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE SPONSOR  ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference sponsor. 
    Removed %simple-text;
  -->
  <define name="conf-sponsor-elements">
    <notAllowed/>
  </define>
  <!-- CONTRACT/GRANT NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the contract number.  
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="contract-elements">
    <notAllowed/>
  </define>
  <!-- CONTRACT/GRANT SPONSOR ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the contract sponsor.         
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an online
    mix, the OR bar is already there.
  -->
  <define name="contract-sponsor-elements">
    <notAllowed/>
  </define>
  <!-- CORRESPONDENCE INFORMATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the correspondence information.            
    Removed <label>
  -->
  <define name="corresp-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="address-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- DEGREE(S) ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <degrees>                             
    Removed %just-rendition;
  -->
  <define name="degrees-elements">
    <notAllowed/>
  </define>
  <!-- FORMULA, DISPLAY ELEMENTS -->
  <!--
    Elements for use mixed with #PCDATA within
    the <disp-formula> element
    Removed <label>
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="simple-display.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- EDITION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    Removed %just-rendition;
  -->
  <define name="edition-elements">
    <notAllowed/>
  </define>
  <!-- FAX NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <fax>    
    Removed %just-rendition;
  -->
  <define name="fax-elements">
    <notAllowed/>
  </define>
  <!-- GIVEN (FIRST) NAMES ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <given-names>                   
    Removed %just-rendition;
  -->
  <define name="given-names-elements">
    <notAllowed/>
  </define>
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issue> element     
    Removed %just-rendition;
  -->
  <define name="issue-elements">
    <notAllowed/>
  </define>
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword <kwd>.
  -->
  <define name="kwd-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PATENT NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <patent>                             
    Removed %just-rendition;
  -->
  <define name="patent-elements">
    <notAllowed/>
  </define>
  <!-- PHONE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <phone number>             
    Removed %just-rendition;
  -->
  <define name="phone-elements">
    <notAllowed/>
  </define>
  <!-- PREFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <prefix>  
    Removed %just-rendition;
  -->
  <define name="prefix-elements">
    <notAllowed/>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which white space,
    such as tabs, line feeds, and spaces will
    be preserved
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="emphasis.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PRODUCT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <product> element
  -->
  <define name="product-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
    Elements for use in the Publisher Location
    <publisher-loc> element
    Removed %address.class;, %address-link.class;,
    %emphasis.class;, and %subsup.class;
  -->
  <define name="publisher-loc-elements">
    <notAllowed/>
  </define>
  <!-- PUBLISHER'S NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <publisher-name>   
    Removed %just-rendition;
  -->
  <define name="publisher-name-elements">
    <notAllowed/>
  </define>
  <!-- RELATED ARTICLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-article> element.
  -->
  <define name="related-article-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- ROLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <role>                    
    Design Note: All inline mixes begin with an
    OR bar; since %rendition-plus; is an 
    inline mix, the OR bar is already there.
  -->
  <define name="role-elements">
    <notAllowed/>
  </define>
  <!-- SUFFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <suffix>
    Removed %just-rendition;
  -->
  <define name="suffix-elements">
    <notAllowed/>
  </define>
  <!-- SURNAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <surname>                                
    Removed %just-rendition;
  -->
  <define name="surname-elements">
    <notAllowed/>
  </define>
  <!-- DEFINITION LIST: TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <term>. 
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an 
    inline mix, the OR bar is already there.
  -->
  <define name="term-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <uri> 
    Removed %just-rendition;
  -->
  <define name="uri-elements">
    <notAllowed/>
  </define>
  <!-- VOLUME NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <volume> 
    Removed %just-rendition;
  -->
  <define name="volume-elements">
    <notAllowed/>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES USED IN SHARED CONTENT MODELS -->
  <!-- ============================================================= -->
  <!-- DISPLAY ELEMENT BACK MATTER SEQUENCE -->
  <!--
    Miscellaneous stuff at the end of a display
    element such as a figure or a boxed text
    element such as a sidebar                  
    Changed &display-back-matter.class; into
    a sequence and deleted <copyright>, which is
    now inside the <permissions> wrapper.
  -->
  <define name="display-back-matter">
    <optional>
      <ref name="attrib"/>
    </optional>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF SHARED CONTENT MODELS (FULL) -->
  <!-- ============================================================= -->
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that a
    section title be present, used for elements
    such as Section and Appendix. 
    Removed <label> and all section back matter,
    only article has back matter
  -->
  <define name="sec-model">
    <ref name="title"/>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    copyright-statement may or may not have 
    an initial title
    Removed all section back matter,
    only article has back matter
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ABSTRACT MODEL -->
  <!--
                        Abstracts may contain one or more paragraphs
    (as a typical abstract does) or titled
    sections, as is done in many physics
    articles.
    Unlike the default model in the base DTD
    Suite, this <abstract> requires that all
    sections in the abstract start with titles.
  -->
  <define name="abstract-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec"/>
    </zeroOrMore>
  </define>
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!--
    Content model for the <ack> element        
    Deleted optional sections and closing
    reference list
  -->
  <define name="ack-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
  </define>
  <!-- ADDRESS MODEL -->
  <!-- Content model for the <address> element -->
  <define name="address-model">
    <optional>
      <ref name="institution"/>
    </optional>
    <zeroOrMore>
      <ref name="addr-line"/>
    </zeroOrMore>
    <ref name="country"/>
    <zeroOrMore>
      <ref name="phone"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="fax"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="email"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ext-link"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="uri"/>
    </zeroOrMore>
  </define>
  <!-- AFFILIATION MODEL -->
  <!-- Content model for the <aff> element -->
  <!-- APPENDIX GROUP MODEL -->
  <!-- Content model for the <app-group> element -->
  <define name="app-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="app.class"/>
    </zeroOrMore>
  </define>
  <!-- ARTICLE METADATA MODEL -->
  <!--
    Full content model for the metadata that is
    specific to the article.                  
    Unlike in Archive DTD, some of the metadata  
    is required here.
    Deleted <article-id>,<article-categories>,
    <aff> not associated with <contrib>, 
    <author-notes>, <pub-date>, volume
    and issue info, pages, <history>,
    <trans-abstract>, <custom-meta-wrap> 
  -->
  <define name="article-meta-model">
    <ref name="title-group"/>
    <ref name="contrib-group"/>
    <zeroOrMore>
      <choice>
        <ref name="product"/>
        <ref name="supplementary-material"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="self-uri"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="related-article"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="abstract"/>
    </oneOrMore>
    <optional>
      <ref name="kwd-group"/>
    </optional>
    <zeroOrMore>
      <ref name="contract-num"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contract-sponsor"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="conference"/>
    </zeroOrMore>
  </define>
  <!-- BOXED TEXT MODEL -->
  <!--
    Complete content model for the boxed text
    element, made into a PE so that it could be
    redefined, for example, by an authoring DTD.
  -->
  <define name="boxed-text-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
    <ref name="display-back-matter"/>
  </define>
  <!-- CHEMICAL STRUCTURE WRAPPER MODEL -->
  <!--
    Content model for the Chemical Structure
    Wrapper <chem-struct-wrapper> element
    Removed <label>
  -->
  <define name="chem-struct-wrapper-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="simple-intable-display.class"/>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- CONFERENCE MODEL -->
  <!--
    The element components of the description
    of a conference; not a proper class
  -->
  <define name="conference-model">
    <ref name="conf-date"/>
    <oneOrMore>
      <choice>
        <ref name="conf-name"/>
        <ref name="conf-acronym"/>
      </choice>
    </oneOrMore>
    <optional>
      <ref name="conf-num"/>
    </optional>
    <optional>
      <ref name="conf-loc"/>
    </optional>
    <zeroOrMore>
      <ref name="conf-sponsor"/>
    </zeroOrMore>
    <optional>
      <ref name="conf-theme"/>
    </optional>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <ref name="name.class"/>
    <optional>
      <ref name="degree.class"/>
    </optional>
    <optional>
      <ref name="role"/>
    </optional>
    <optional>
      <ref name="on-behalf-of"/>
    </optional>
    <zeroOrMore>
      <ref name="aff"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="address"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="email"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ext-link"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="uri"/>
    </zeroOrMore>
    <optional>
      <ref name="bio"/>
    </optional>
    <optional>
      <ref name="author-comment"/>
    </optional>
  </define>
  <!-- CONTRIBUTOR GROUP MODEL -->
  <!--
    Content model for the <contrib-group> 
    element
  -->
  <define name="contrib-group-model">
    <oneOrMore>
      <ref name="contrib"/>
    </oneOrMore>
  </define>
  <!-- DATE ELEMENTS MODEL -->
  <!--
    The content models for elements that describe
    dates, such as Publication Date <pub-date> and
    History Dates <date>.  The <string-date>
    element holds dates for which months and 
    years are not given, for example "first 
    quarter", "spring", etc.   
    Unlike the base DTD Suite, this <date> 
    requires a <year> and may not take a string
    date as an alternative.
  -->
  <define name="date-model">
    <optional>
      <choice>
        <group>
          <optional>
            <ref name="day"/>
          </optional>
          <optional>
            <ref name="month"/>
          </optional>
        </group>
        <ref name="season"/>
      </choice>
    </optional>
    <ref name="year"/>
  </define>
  <!-- DEFINITION LIST MODEL -->
  <!--
    Content model for the <def-list> element   
    Removed <label> and recursive <def-list>
  -->
  <define name="def-list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="term-head"/>
    </optional>
    <optional>
      <ref name="def-head"/>
    </optional>
    <oneOrMore>
      <ref name="def-item"/>
    </oneOrMore>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM ELEMENTS -->
  <!--
    The elements that can be included inside 
    the content model of a <def-item>.         
    Removed <label>
  -->
  <define name="def-item-model">
    <ref name="term"/>
    <zeroOrMore>
      <ref name="def"/>
    </zeroOrMore>
  </define>
  <!-- QUOTE, DISPLAYED MODEL -->
  <!--                     Content model for the Display Quote element -->
  <define name="disp-quote-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- FIGURE GROUP MODEL -->
  <!--
    Content model for a Figure Group element   
    Removed <label>
  -->
  <define name="fig-group-model">
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="fig-display.class"/>
        <ref name="just-base-display.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FIGURE-LIKE CONTENT MODEL -->
  <!--
    Content model for the Figure element and any
    similarly structured elements
    Removed <label>, caption non-repeating
  -->
  <define name="fig-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="block-math.class"/>
        <ref name="intable-para.class"/>
        <ref name="just-table.class"/>
        <ref name="just-para.class"/>
        <ref name="list.class"/>
        <ref name="simple-display.class"/>
      </choice>
    </zeroOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- FOOTNOTE MODEL -->
  <!--
    Content model for Footnote <fn>            
    Removed <label>
  -->
  <define name="fn-model">
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- GLOSSARY MODEL -->
  <!--
    Content model for the <glossary> element
    Note: an exception is made to the full
    class-mix structure to allow <gloss-group>
    inside an <glossary> without requiring a
    separate class for it.
    Reduced (%para-level;)* to <p>
  -->
  <define name="glossary-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="gloss-group"/>
    </zeroOrMore>
  </define>
  <!-- GLOSSARY GROUP MODEL -->
  <!--                     Content model for the <gloss-group> element -->
  <define name="gloss-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="def-list"/>
    </oneOrMore>
  </define>
  <!-- GRAPHIC MODEL -->
  <!--
    Content model for the <graphic> element
    Removed <label>
  -->
  <define name="graphic-model">
    <ref name="id.class"/>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- LIST ITEM ELEMENTS -->
  <!--
    The elements that can be included inside 
    the content model of a <list-item>.
    Removed <label> and interior <list> and
    <def-list>
  -->
  <define name="list-item-model">
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- LIST MODEL -->
  <!--
    Content model for the <list> element       
    Removed <label>
  -->
  <define name="list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="list-item"/>
    </oneOrMore>
  </define>
  <!-- PERSON GROUP MODEL -->
  <!--
    Content model for the Person Group element
    Deleted <etal>
  -->
  <define name="person-group-model">
    <zeroOrMore>
      <choice>
        <ref name="name.class"/>
        <ref name="aff"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- REFERENCE LIST MODEL -->
  <!--
    Content model for the <ref-list> element   
    Reduced para-like to <p>, removed
    embedded ref-lists, since they are allowed
    to repeat.
  -->
  <define name="ref-list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="ref"/>
    </oneOrMore>
  </define>
  <!--
    REFERENCE ITEM MODEL                       
    Model for the <ref> element
    Removed <note>
  -->
  <define name="ref-model">
    <choice>
      <ref name="citation"/>
      <ref name="nlm-citation"/>
    </choice>
  </define>
  <!-- SUPPLEMENTARY MATERIAL MODEL -->
  <!--
    Content model for the 
    <supplementary-material> element
  -->
  <define name="supplementary-material-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- TABLE WRAPPER CONTENT MODEL -->
  <!--
    Content model for the container element that
    surrounds the standard table models for row
    and columns.
    Removed <label>
  -->
  <define name="table-wrap-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="inside-table-wrapper"/>
    </zeroOrMore>
    <optional>
      <ref name="table-foot.class"/>
    </optional>
    <ref name="display-back-matter"/>
  </define>
  <!-- TABLE WRAP FOOTER MODEL -->
  <!--
    Content model for the <table-wrap-foot> 
    element
  -->
  <define name="table-wrap-foot-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="just-para.class"/>
        <ref name="fn-link.class"/>
      </choice>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- TITLE GROUP MODEL -->
  <!--                     Content model for the <title-group> element -->
  <define name="title-group-model">
    <ref name="article-title"/>
    <optional>
      <ref name="subtitle"/>
    </optional>
  </define>
  <!-- TRANSLATED ABSTRACT MODEL -->
  <!--
    Content model for an <trans-abstract> element.
    The section model include the parentheses.
  -->
  <define name="trans-abstract-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec"/>
    </zeroOrMore>
  </define>
  <!-- VERSE GROUP MODEL -->
  <!--                     Content model for the <verse-group> element -->
  <define name="verse-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="subtitle"/>
    </optional>
    <oneOrMore>
      <ref name="verse-line"/>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE VALUES -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE TYPE VALUES -->
  <!--
    Used to mark the semantics of the footnote,
    what information does this footnote convey.
  -->
  <define name="fn-types">
    <choice>
      <value>abbr</value>
      <value>com</value>
      <value>con</value>
      <value>conflict</value>
      <value>corresp</value>
      <value>current-aff</value>
      <value>deceased</value>
      <value>edited-by</value>
      <value>equal</value>
      <value>financial-disclosure</value>
      <value>on-leave</value>
      <value>participating-researchers</value>
      <value>presented-at</value>
      <value>presented-by</value>
      <value>present-address</value>
      <value>previously-at</value>
      <value>study-group-members</value>
      <value>supplementary-material</value>
      <value>supported-by</value>
      <value>other</value>
    </choice>
  </define>
  <!-- LIST PREFIX TYPES -->
  <!--
    Used to request a specific style of prefix
    characters for the items in lists and 
    de-lists. Ordered is number or letters,
    bulleted is bullets or other non-ordered
    character, simple has no prefix at all.
  -->
  <define name="list-types">
    <choice>
      <value>bullet</value>
      <value>order</value>
      <value>simple</value>
    </choice>
  </define>
  <!-- CROSS(X)-REFERENCE TYPE VALUES -->
  <!--
    Used to say to what the reference is pointing.
    May be used for type-specific processing or
    validation. Values are, for example:
    Affiliation "aff", Figure "fig", and
    Bibliographic ref (to a Citation <citation> or
    to a Reference Item <ref>) "bibr"
    Deleted "author-notes"
  -->
  <define name="ref-types">
    <choice>
      <value>aff</value>
      <value>app</value>
      <value>bibr</value>
      <value>boxed-text</value>
      <value>chem</value>
      <value>contrib</value>
      <value>corresp</value>
      <value>disp-formula</value>
      <value>fig</value>
      <value>fn</value>
      <value>kwd</value>
      <value>list</value>
      <value>plate</value>
      <value>scheme</value>
      <value>sec</value>
      <value>statement</value>
      <value>supplementary-material</value>
      <value>table</value>
      <value>table-fn</value>
      <value>other</value>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATE ATTRIBUTE DECLARATIONS -->
  <!-- (These are unchanged from the base Suite, -->
  <!--                     but are used in attribute over-rides below) -->
  <!-- ============================================================= -->
  <!-- DISPLAY ATTRIBUTES OPTIONAL ID -->
  <!--
    position   Must this display object (figure, boxed text,
    etc.) be anchored in its exact location
    within the text or may it float, for example
    to the top of the next page, next column, or
    within a separate window?  Values are:
      anchor      Object must remain in place
      float       Object is not anchored and
                  may be moved to a new column,
                  a new window, etc.
      margin      In print, item should be placed
                  in the margin or gutter. 
                  Online the item should 
                  remain closely associated 
                  with the text.
  -->
  <define name="display-atts">
    <optional>
      <attribute name="position" a:defaultValue="float">
        <choice>
          <value>anchor</value>
          <value>float</value>
          <value>margin</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <define name="link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <attribute name="xlink:href"/>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Attributes for any element that may be a link
    but need not be one
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- CITATION ATTRIBUTES -->
  <!-- Attributes for <citation> -->
  <define name="citation-atts">
    <optional>
      <attribute name="citation-type">
        <choice>
          <value>book</value>
          <value>commun</value>
          <value>confproc</value>
          <value>discussion</value>
          <value>gov</value>
          <value>journal</value>
          <value>list</value>
          <value>patent</value>
          <value>thesis</value>
          <value>web</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- FOOTNOTE ATTRIBUTES -->
  <!--
    Attribute list for Footnote element        
    Unlike base, "fn-type" values have been made 
    explicit.
  -->
  <define name="fn-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fn-type">
        <choice>
          <ref name="fn-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- GIVEN NAMES ATTRIBUTES -->
  <!--
    Removed the "initial" attribute for the given
    name, that held initials for those cases in 
    which they could not be algorithmically 
    determined.
  -->
  <define name="given-names-atts">
    <empty/>
  </define>
  <!-- GRAPHIC ATTRIBUTES -->
  <!-- Attributes for Graphic <graphic> -->
  <define name="graphic-atts">
    <optional>
      <attribute name="alternate-form-of">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="alt-version" a:defaultValue="no">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mime-subtype">
        <choice>
          <value>cgm</value>
          <value>gif</value>
          <value>jpeg</value>
          <value>png</value>
          <value>tiff</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="mimetype" a:defaultValue="image">
        <value type="string" datatypeLibrary="">image</value>
      </attribute>
    </optional>
    <ref name="display-atts"/>
    <ref name="link-atts"/>
  </define>
  <!-- INLINE GRAPHIC ATTRIBUTES -->
  <!--
    Attributes for Inline Graphic 
    <inline-graphic>
  -->
  <define name="inline-graphic-atts">
    <optional>
      <attribute name="alternate-form-of">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mimetype" a:defaultValue="image">
        <value type="string" datatypeLibrary="">image</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="mime-subtype">
        <choice>
          <value>cgm</value>
          <value>gif</value>
          <value>jpeg</value>
          <value>png</value>
          <value>tiff</value>
        </choice>
      </attribute>
    </optional>
    <ref name="link-atts"/>
  </define>
  <!-- DEFAULT LIST CLASS ATTRIBUTES -->
  <!--
    Default attribute lists to be used for most
    of the types of lists. Used for the <list>
    element and <def-list> element.
    Removed "list-content" and changed "id" from
    type CDATA to type ID
  -->
  <define name="list-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="list-type">
        <choice>
          <ref name="list-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
  </define>
  <!-- DEFAULT LIST ITEM ATTRIBUTES -->
  <!--
    Default attribute for list items. Changed 
    "id" from type CDATA to type ID
  -->
  <define name="list-item-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <!-- PERSON GROUP ATTRIBUTES -->
  <!--
    Attributes for the <person-group> element 
    Valid Types include:
      author - Content creators
      editor - Content editors
      guest-editor
             - a content editor that has been 
               invited to edit all or part of a 
               work.
      inventor
             - Idea, software, or machine creator
      assignee
             - the person to whom a patent is 
               awarded
      translator
             - Translated the cited work from
               one language into another
      transed
             - Editor of a translated version of
               a work
      allauthors
             - used to identify a complete list 
               of authors when a subset of the 
               author group has been used 
               elsewhere in the citation. See 
               "Standard reference to a chapter 
               in a book" (II.C.1) in the 
               tagging examples.
      compiler 
             - Put together a composite work
               from multiple sources
  -->
  <define name="person-group-atts">
    <optional>
      <attribute name="person-group-type">
        <choice>
          <value>allauthors</value>
          <value>assignee</value>
          <value>author</value>
          <value>compiler</value>
          <value>director</value>
          <value>editor</value>
          <value>guest-editor</value>
          <value>inventor</value>
          <value>translator</value>
          <value>transed</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- SECTION ATTRIBUTES -->
  <!--
    Attribute list for Section element
    Removed "disp-level"
  -->
  <define name="sec-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sec-type"/>
    </optional>
  </define>
  <!-- SURNAME ATTRIBUTES -->
  <!--
    Removed the initial(s) for the surname of
    the person. Particularly useful in those 
    cases that cannot be algorithmically 
    determined.
  -->
  <define name="surname-atts">
    <empty/>
  </define>
  <!-- UNDERLINE ATTRIBUTES -->
  <!--
    Attributes for the <underline> element
    Removed "underline-style"
  -->
  <define name="underline-atts">
    <empty/>
  </define>
</grammar>
<!-- ================== End Authoring Over-ride Content/ATTLIST == -->
