publishing/3.0/rng/funding3.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Funding Elements -->
<!-- VERSION:   3.0 -->
<!-- DATE:      Feb 2008 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Archiving and Interchange DTD Suite Funding Elements v3.0 20080202//EN"
       Delivered as file "funding3.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    Defines the elements which describe funding for -->
<!-- the research reported in a work or the open -->
<!-- access funding for the work -->
<!---->
<!-- CONTAINS:   1) Definition of the funding elements -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Archiving and Interchange DTD Suite." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Archiving and Interchange DTD -->
<!-- Suite." -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- the DTD suite should be sent in email to: -->
<!-- archive-dtd@ncbi.nlm.nih.gov -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- February 2008 -->
<!---->
<!-- CREATED BY: Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
       =============================================================
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite 
       web site at http://dtd.nlm.nih.gov. 
  
       Details on version 3.0 are available at 
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- AWARD GROUP ATTRIBUTES -->
<!-- Attributes for the <award-group> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="award-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="award-type"/>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- AWARD IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <award-group> element -->
  <define name="award-id-atts">
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>
  <!-- FUNDING SOURCE ATTRIBUTES -->
  <!--                     Attributes for the <funding-source> element -->
  <define name="funding-source-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="source-type"/>
    </optional>
    <optional>
      <attribute name="country"/>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- FUNDING STATEMENT ATTRIBUTES -->
  <!--
    Attributes for the <funding-statement> 
    element
  -->
  <define name="funding-statement-atts">
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- FUNDING ELEMENTS -->
  <!-- ============================================================= -->
  <!-- FUNDING GROUP MODEL -->
  <!-- Model for the <funding-group> element -->
  <define name="funding-group-model">
    <zeroOrMore>
      <ref name="award-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="funding-statement"/>
    </zeroOrMore>
    <optional>
      <ref name="open-access"/>
    </optional>
  </define>
  <!-- FUNDING GROUP -->
  <!--
    Container element for information concerning
    grants, contracts, sponsors, or other
    funding for the research reported in the 
    work (typically an article), as well as for 
    material on the open access funding for the
    work, for example, which model of open access 
    funding was used or who paid the open access
    charges. 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=funding-group
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=funding-group
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=funding-group
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=funding-group
  -->
  <define name="funding-group">
    <element name="funding-group">
      <ref name="funding-group-attlist"/>
      <ref name="funding-group-model"/>
    </element>
  </define>
  <define name="funding-group-attlist" combine="interleave">
    <empty/>
  </define>
  <!-- FUNDING STATEMENT ELEMENTS -->
  <!-- Model for the <funding-statement> element -->
  <define name="funding-statement-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- FUNDING STATEMENT -->
  <!--
    A displayable prose statement that describes
    the funding for the research on which a work
    was based. Such a statement is required, for
    example, by research funded in whole or part 
    by the Wellcome Trust. The statement may
    mention (and therefore repeat) the funding 
    source, PI, or other funding information.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=funding-statement
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=funding-statement
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=funding-statement
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=funding-statement
  -->
  <define name="funding-statement">
    <element name="funding-statement">
      <ref name="funding-statement-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="funding-statement-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="funding-statement-attlist" combine="interleave">
    <ref name="funding-statement-atts"/>
  </define>
  <!-- OPEN ACCESS MODEL -->
  <!-- Model for the <open-access> element -->
  <define name="open-access-model">
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
  </define>
  <!-- OPEN ACCESS -->
  <!--
    A container element to hold metadata 
    concerning the open access provisions that 
    apply to a work, for example which model
    of charging was used or who paid the open
    access charges for a journal article.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=open-access
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=open-access
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=open-access
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=open-access
  -->
  <define name="open-access">
    <element name="open-access">
      <ref name="open-access-attlist"/>
      <ref name="open-access-model"/>
    </element>
  </define>
  <define name="open-access-attlist" combine="interleave">
    <empty/>
  </define>
  <!-- ============================================================= -->
  <!-- AWARD GROUP ELEMENTS -->
  <!-- ============================================================= -->
  <!-- AWARD GROUP MODEL -->
  <!-- Model for the <award-group> element -->
  <define name="award-group-model">
    <zeroOrMore>
      <ref name="funding-source"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="award-id"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="principal-award-recipient"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="principal-investigator"/>
    </zeroOrMore>
  </define>
  <!-- AWARD GROUP -->
  <!--
    Container element for information concerning
    one award that sponsored a work or the
    research on which the work was based. There
    may be more than source of funding, a grant
    grant or contract number, PI, etc.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=award-group
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=award-group
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=award-group
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=award-group
  -->
  <define name="award-group">
    <element name="award-group">
      <ref name="award-group-attlist"/>
      <ref name="award-group-model"/>
    </element>
  </define>
  <define name="award-group-attlist" combine="interleave">
    <ref name="award-group-atts"/>
  </define>
  <!-- FUNDING SOURCE ELEMENTS -->
  <!-- Model for the <funding-source> element -->
  <define name="funding-source-elements">
    <ref name="simple-text"/>
  </define>
  <!-- FUNDING SOURCE -->
  <!--
    Agency or organization (such as a foundation,
    corporation, or an educational institution) 
    that funded the research on which a work was
    based, for example, the Wellcome Trust, NIH,
    HHS, Princeton University, or Alcoa 
    sponsoring the research for a journal  
    article 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=funding-source
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=funding-source
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=funding-source
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=funding-source
  -->
  <define name="funding-source">
    <element name="funding-source">
      <ref name="funding-source-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="funding-source-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="funding-source-attlist" combine="interleave">
    <ref name="funding-source-atts"/>
  </define>
  <!-- AWARD IDENTIFIER ELEMENTS -->
  <!-- Model for the <award-id> element -->
  <define name="award-id-elements">
    <ref name="simple-text"/>
  </define>
  <!-- AWARD IDENTIFIER -->
  <!--
    An identifier that has been assigned to the
    award, for example, a grant number, a grant
    reference number, or a contract number.
    [Note, this is a real-world identifier not 
    an XML ID.] 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=award-id
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=award-id
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=award-id
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=award-id
  -->
  <define name="award-id">
    <element name="award-id">
      <ref name="award-id-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="award-id-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="award-id-attlist" combine="interleave">
    <ref name="award-id-atts"/>
  </define>
  <!-- PRINCIPAL AWARD RECIPIENT ELEMENTS -->
  <!--
    Model for the <principal-award-recipient> 
    element
  -->
  <define name="principal-award-recipient-elements">
    <ref name="recipient-name.class"/>
  </define>
  <!-- PRINCIPAL AWARD RECIPIENT -->
  <!--
    The institution or individuals to whom the
    award was given, for example the principal
    grant holder 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=principal-award-recipient
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=principal-award-recipient
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=principal-award-recipient
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=principal-award-recipient
  -->
  <define name="principal-award-recipient">
    <element name="principal-award-recipient">
      <ref name="principal-award-recipient-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="principal-award-recipient-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="principal-award-recipient-attlist" combine="interleave">
    <empty/>
  </define>
  <!-- PRINCIPAL INVESTIGATOR ELEMENTS -->
  <!--
    Model for the <principal-investigator> 
    element
  -->
  <define name="principal-investigator-elements">
    <ref name="investigator-name.class"/>
  </define>
  <!-- PRINCIPAL INVESTIGATOR RECIPIENT -->
  <!--
    Individual responsible for the intellectual
    content of the work reported in the article.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=principal-investigator
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=principal-investigator
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=principal-investigator
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=principal-investigator
  -->
  <define name="principal-investigator">
    <element name="principal-investigator">
      <ref name="principal-investigator-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="principal-investigator-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="principal-investigator-attlist" combine="interleave">
    <empty/>
  </define>
</grammar>
<!-- ================== End Funding Module ======================= -->
