publishing/3.0/rng/journalmeta3.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Journal Metadata Elements -->
<!-- VERSION:   3.0 -->
<!-- DATE:      Feb 2008 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Archiving and Interchange DTD Suite Journal Metadata Elements v3.0 20080202//EN"
       Delivered as file "journalmeta3.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    Names all elements used to describe the journal -->
<!-- in which the journal article is published. -->
<!---->
<!-- CONTAINS:   1. Default values for attribute lists -->
<!-- 2. Journal metadata content model -->
<!-- 3. Journal metadata elements in the order used in -->
<!-- the journal metadata element -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Archiving and Interchange DTD Suite." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Archiving and Interchange DTD -->
<!-- Suite." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Jeff Beck       (NCBI) -->
<!-- Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- Bruce Rosenblum (Inera Inc.) -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Bruce Rosenblum's collaboration with other DTD -->
<!-- authors in completing Version 1.0. The Andrew W. -->
<!-- Mellon Foundation provided support for these -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- the DTD suite should be sent in email to: -->
<!-- archive-dtd@ncbi.nlm.nih.gov -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
       =============================================================
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite 
       web site at http://dtd.nlm.nih.gov. 
  
       Details on version 3.0 are available at 
             http://dtd.nlm.nih.gov/3.0.
  
    2. Changed default @xml:lang from "EN" from "en" to match latest
       RFC 4646/W3C/IANA Subtag Registry recommendations
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- DEFAULTS FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- ABBREVIATED JOURNAL TITLE ATTRIBUTES -->
<!--
  Attribute list for Abbreviated Journal Title 
  <abbrev-journal-title> element
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="abbrev-journal-title-atts">
    <optional>
      <attribute name="abbrev-type"/>
    </optional>
    <optional>
      <attribute name="xml:lang" a:defaultValue="en">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- JOURNAL TITLE ATTRIBUTES -->
  <!--
    Attributes for the <journal-title> 
    element
  -->
  <define name="journal-title-atts">
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="xml:lang" a:defaultValue="en">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- JOURNAL TITLE GROUP ATTRIBUTES -->
  <!--
    Attributes for the <journal-title-group> 
    element
  -->
  <define name="journal-title-group-atts">
    <optional>
      <attribute name="content-type"/>
    </optional>
  </define>
  <!-- JOURNAL SUBTITLE GROUP ATTRIBUTES -->
  <!--
    Attributes for the <journal-subtitle> 
    element
  -->
  <define name="journal-subtitle-atts">
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="xml:lang" a:defaultValue="en">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- JOURNAL METADATA -->
  <!-- ============================================================= -->
  <!-- JOURNAL METADATA MODEL -->
  <!--
    Content model for the journal metadata
    element <journal-meta>
  -->
  <!-- ELEM   journal-id   Defined in %common3.ent" -->
  <!-- ELEM   issn         Defined in %common3.ent" -->
  <!-- ELEM   publisher    Defined in %common3.ent" -->
  <!-- ELEM   notes        Defined in %common3.ent" -->
  <!--
    ELEM   custom-meta-group
    Defined in %common3.ent"
  -->
  <!-- JOURNAL METADATA -->
  <!--
    Metadata that identifies the journal in which
    the article was published
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=journal-meta
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=journal-meta
  -->
  <define name="journal-meta">
    <element name="journal-meta">
      <ref name="journal-meta-attlist"/>
      <ref name="journal-meta-model"/>
    </element>
  </define>
  <define name="journal-meta-attlist" combine="interleave">
    <empty/>
  </define>
  <!-- ============================================================= -->
  <!-- JOURNAL TITLE ELEMENTS -->
  <!-- ============================================================= -->
  <!-- JOURNAL TITLE GROUP MODEL -->
  <!--
    Content model for the element  
    <journal-title-group>
  -->
  <define name="journal-title-group-model">
    <zeroOrMore>
      <ref name="journal-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="journal-subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-title-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abbrev-journal-title"/>
    </zeroOrMore>
  </define>
  <!--
    ELEM   trans-title-group
    Defined in %common3.ent"
  -->
  <!-- JOURNAL TITLE GROUP -->
  <!--
    A container element to hold the title and
    its subtitle (if any) for the journal in which
    the article was published.    
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=journal-title-group
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=journal-title-group
  -->
  <define name="journal-title-group">
    <element name="journal-title-group">
      <ref name="journal-title-group-attlist"/>
      <ref name="journal-title-group-model"/>
    </element>
  </define>
  <define name="journal-title-group-attlist" combine="interleave">
    <ref name="journal-title-group-atts"/>
  </define>
  <!-- JOURNAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <journal-title>
    Design Note: This PE begins with an OR
    bar because %just-rendition; begins with an
    OR bar.
  -->
  <!-- JOURNAL TITLE (FULL) -->
  <!--
    The title of the journal in which the
    article is published.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=journal-title
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=journal-title
  -->
  <define name="journal-title">
    <element name="journal-title">
      <ref name="journal-title-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="journal-title-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="journal-title-attlist" combine="interleave">
    <ref name="journal-title-atts"/>
  </define>
  <!-- JOURNAL SUBTITLE -->
  <!--
    The subtitle of the journal in which the
    article is published.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=journal-subtitle
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=journal-subtitle
  -->
  <define name="journal-subtitle">
    <element name="journal-subtitle">
      <ref name="journal-subtitle-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="journal-title-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="journal-subtitle-attlist" combine="interleave">
    <ref name="journal-subtitle-atts"/>
  </define>
  <!-- ABBREVIATED JOURNAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <abbrev-journal-title> 
    Design Note: This PE begins with an OR
    bar because %just-rendition; begins with an
    OR bar.
  -->
  <!-- ABBREVIATED JOURNAL TITLE -->
  <!--
    A short form of the title of the journal
    in which the article is published. 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=abbrev-journal-title
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=abbrev-journal-title
  -->
  <define name="abbrev-journal-title">
    <element name="abbrev-journal-title">
      <ref name="abbrev-journal-title-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="abbrev-journal-title-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="abbrev-journal-title-attlist" combine="interleave">
    <ref name="abbrev-journal-title-atts"/>
  </define>
</grammar>
<!-- ================== End Journal Metadata Elements  =========== -->
