publishing/3.0/rng/link3.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Link Element Classes -->
<!-- VERSION:   3.0 -->
<!-- DATE:      Feb 2008 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Archiving and Interchange DTD Suite Link Class Elements v3.0 20080202//EN"
       Delivered as file "link3.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    Names all elements in the link class. These are -->
<!-- elements that are links (internal or external) -->
<!-- by definition, such as URLs <uri> and -->
<!-- Cross(X)-references <xref>. -->
<!---->
<!-- CONTAINS:   1) Default definitions of the link classes -->
<!-- 2) Default definitions for attribute values -->
<!-- 3) Default definitions for attribute lists -->
<!-- 4) Models for the link class elements, first -->
<!-- internal links then external links -->
<!-- (alphabetically) -->
<!---->
<!-- (Note: Links make their links using the XLink -->
<!-- global attributes. Many elements besides -->
<!-- explicit links may be made into links using -->
<!-- these attributes. Such elements are defined in -->
<!-- the module appropriate to their use and are not -->
<!-- listed here.) -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Archiving and Interchange DTD Suite." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Archiving and Interchange DTD -->
<!-- Suite." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Jeff Beck       (NCBI) -->
<!-- Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- Bruce Rosenblum (Inera Inc.) -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Bruce Rosenblum's collaboration with other DTD -->
<!-- authors in completing Version 1.0. The Andrew W. -->
<!-- Mellon Foundation provided support for these -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- the DTD suite should be sent in email to: -->
<!-- archive-dtd@ncbi.nlm.nih.gov -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
       =============================================================
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite 
       web site at http://dtd.nlm.nih.gov. 
  
       Details on version 3.0 are available at 
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- DEFAULTS FOR ATTRIBUTE VALUES -->
<!-- ============================================================= -->
<!-- DEFAULT TYPE OF CROSS(X)-REFERENCE -->
<!--
  Used to say to what the reference is pointing.
  Values are, for example: Affiliation "aff", 
  or Figure "fig".
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="ref-types">
    <choice>
      <value>aff</value>
      <value>app</value>
      <value>author-notes</value>
      <value>bibr</value>
      <value>boxed-text</value>
      <value>chem</value>
      <value>contrib</value>
      <value>corresp</value>
      <value>disp-formula</value>
      <value>fig</value>
      <value>fn</value>
      <value>kwd</value>
      <value>list</value>
      <value>plate</value>
      <value>scheme</value>
      <value>sec</value>
      <value>statement</value>
      <value>supplementary-material</value>
      <value>table</value>
      <value>table-fn</value>
      <value>other</value>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DEFAULTS FOR ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE ATTRIBUTES -->
  <!-- Attribute list for Footnote element -->
  <!-- INLINE SUPPLEMENTARY MATERIAL -->
  <!--
    Attribute list for inline supplementary 
    material
  -->
  <define name="inline-supplementary-material-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- TARGET ATTRIBUTES -->
  <!-- Attribute list for <target> element -->
  <define name="target-atts">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
    <optional>
      <attribute name="target-type"/>
    </optional>
  </define>
  <!-- X(CROSS) REFERENCE ATTRIBUTES -->
  <!-- Attribute list for cross references -->
  <define name="xref-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="ref-type">
        <choice>
          <ref name="ref-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- INTERNAL LINKS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE MODEL -->
  <!-- Content model for Footnote <fn> -->
  <define name="fn-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- FOOTNOTE -->
  <!--
    Additional information concerning material in
    a particular location in the text. This
    material is not considered to be part of the 
    body of the text, but in addition to or a 
    commentary on the body.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=fn
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=fn
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=fn
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=fn
  -->
  <define name="fn">
    <element name="fn">
      <ref name="fn-attlist"/>
      <ref name="fn-model"/>
    </element>
  </define>
  <define name="fn-attlist" combine="interleave">
    <ref name="fn-atts"/>
  </define>
  <!-- TARGET ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <target>  
    Design Note: All inline mixes begin with an
    OR bar, but since %link-elements; is an inline
    mix, the OR bar is already there.
  -->
  <define name="target-elements">
    <ref name="link-elements"/>
  </define>
  <!-- TARGET OF AN INTERNAL LINK -->
  <!--
    May be placed anywhere within textual 
    material such as a paragraph to provide a
    location (anchor) to which a cross reference
    can point  
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=target
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=target
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=target
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=target
  -->
  <define name="target">
    <element name="target">
      <ref name="target-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="target-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="target-attlist" combine="interleave">
    <ref name="target-atts"/>
  </define>
  <!-- X(CROSS) REFERENCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <xref>  
    Design Note: All inline mixes begin with an
    OR bar, but since %link-elements; is an inline
    mix, the OR bar is already there.
  -->
  <define name="xref-elements">
    <ref name="link-elements"/>
  </define>
  <!-- X(CROSS) REFERENCE -->
  <!--
    Used for any kind of internal article
    referencing. The content of the reference 
    (if present) will be displayed as the link.
    This element may be used to point to any 
    element that takes an "id" attribute.
    The "ref-type" attribute may be used to name
    the element or type of object to which the 
    <xref> is pointing.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=xref
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=xref
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=xref
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=xref
  -->
  <define name="xref">
    <element name="xref">
      <ref name="xref-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="xref-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="xref-attlist" combine="interleave">
    <ref name="xref-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- EXTERNAL LINKS -->
  <!-- ============================================================= -->
  <!-- INLINE SUPPLEMENTARY MATERIAL ELEMENTS -->
  <!--
    Elements for use in the 
    <inline-supplementary-material> element
  -->
  <define name="inline-supplementary-material-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- INLINE SUPPLEMENTARY MATERIAL -->
  <!--
    An in-text link to an external file that
    provides supplementary information for
    the document, for example, an audio clip
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=inline-supplementary-material
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=inline-supplementary-material
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=inline-supplementary-material
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=inline-supplementary-material
  -->
  <define name="inline-supplementary-material">
    <element name="inline-supplementary-material">
      <ref name="inline-supplementary-material-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="inline-supplementary-material-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="inline-supplementary-material-attlist" combine="interleave">
    <ref name="inline-supplementary-material-atts"/>
  </define>
</grammar>
<!-- ================== End Link Class Module ==================== -->
