archiving/3.0/rng/phrase3.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Subject Phrase Class Elements -->
<!-- VERSION:   3.0 -->
<!-- DATE:      Feb 2008 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Archiving and Interchange DTD Suite Subject Phrase Class Elements v3.0 20080202//EN"
       Delivered as file "phrase3.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    Defines the phrase.class, that is, names the -->
<!-- inline, subject-specific elements -->
<!---->
<!-- If more specific subject words (such as "gene") -->
<!-- are added to later version of this DTD, they -->
<!-- should be added to the %phrase.class; entity and -->
<!-- defined in this module or in %common.ent; -->
<!---->
<!-- CONTAINS:   1) Definition of the phrase class -->
<!-- 2) Subject Emphasis -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Archiving and Interchange DTD Suite." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Archiving and Interchange DTD -->
<!-- Suite." -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- the DTD suite should be sent in email to: -->
<!-- archive-dtd@ncbi.nlm.nih.gov -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Jeff Beck       (NCBI) -->
<!-- Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- Bruce Rosenblum (Inera Inc.) -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Bruce Rosenblum's collaboration with other DTD -->
<!-- authors in completing Version 1.0. The Andrew W. -->
<!-- Mellon Foundation provided support for these -->
<!-- important contributions. -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
       =============================================================
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite 
       web site at http://dtd.nlm.nih.gov. 
  
       Details on version 3.0 are available at 
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- ABBREVIATION ATTRIBUTES -->
<!-- Attributes for the <abbrev> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="abbrev-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- MILESTONE START ATTRIBUTES -->
  <!--
    Attributes for the <milestone-start> 
    element
  -->
  <define name="milestone-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="rationale"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREF"/>
      </attribute>
    </optional>
  </define>
  <!-- MILESTONE END ATTRIBUTES -->
  <!--
    Attributes for the <milestone-end> 
    element
  -->
  <!-- NAMED CONTENT ATTRIBUTES -->
  <!-- Attributes for the <named-content> element -->
  <define name="named-content-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <attribute name="content-type"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- STYLED CONTENT ATTRIBUTES -->
  <!--                     Attributes for the <styled-content> element -->
  <define name="styled-content-atts">
    <optional>
      <attribute name="style"/>
    </optional>
    <optional>
      <attribute name="style-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- PHRASE-LEVEL ELEMENTS -->
  <!-- ============================================================= -->
  <!-- ABBREVIATION ELEMENTS -->
  <!-- Elements for use in the <abbrev> element -->
  <!-- ABBREVIATION OR ACRONYM -->
  <!--
    Used to identify an abbreviation or acronym
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=abbrev
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=abbrev
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=abbrev
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=abbrev
  -->
  <define name="abbrev">
    <element name="abbrev">
      <ref name="abbrev-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="abbrev-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="abbrev-attlist" combine="interleave">
    <ref name="abbrev-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- MILESTONE ELEMENTS -->
  <!-- ============================================================= -->
  <!-- MILESTONE MODEL -->
  <!--
    Model for the both the <milestone-start> and
    <milestone-end> elements
  -->
  <define name="milestone-model">
    <empty/>
  </define>
  <!-- MILESTONE START -->
  <!--
    Used to mark the start of a non-hierarchically
    nested object, that is, a textual component
    which cannot be expressed in the normal 
    non-overlapping, OCHO structure of an XML
    document. When this element is used, it is
    assumed that the end of the textual
    component will be marked with a 
    <milestone-end> element.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=milestone-start
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=milestone-start
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=milestone-start
  -->
  <define name="milestone-start">
    <element name="milestone-start">
      <ref name="milestone-start-attlist"/>
      <ref name="milestone-model"/>
    </element>
  </define>
  <define name="milestone-start-attlist" combine="interleave">
    <ref name="milestone-atts"/>
  </define>
  <!-- MILESTONE END -->
  <!--
    Used to mark the end of a non-hierarchically
    nested object, that is, a textual component
    which cannot be expressed in the normal 
    non-overlapping, OCHO structure of an XML
    document. When this element is used, it is
    assumed that the start of the textual
    component was marked with a <milestone-start>
    element. 
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=milestone-end
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=milestone-end
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=milestone-end
  -->
  <define name="milestone-end">
    <element name="milestone-end">
      <ref name="milestone-end-attlist"/>
      <ref name="milestone-model"/>
    </element>
  </define>
  <define name="milestone-end-attlist" combine="interleave">
    <ref name="milestone-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- NAMED CONTENT ELEMENTS -->
  <!-- ============================================================= -->
  <!-- NAMED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <named-content> element
  -->
  <!-- NAMED SPECIAL (SUBJECT) CONTENT -->
  <!--
    A semantically distinct word or phrase 
    within the text. Often such phrases are
    treated differently, for example, given a
    different typographic style or look, to call
    attention to the subject matter. For
    example, the word is a drug name or a 
    gene or the phrase identifies an organism 
    genus/species.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=named-content
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=named-content
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=named-content
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=named-content
  -->
  <define name="named-content">
    <element name="named-content">
      <ref name="named-content-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="named-content-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="named-content-attlist" combine="interleave">
    <ref name="named-content-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- STYLED CONTENT ELEMENTS -->
  <!-- ============================================================= -->
  <!-- STYLED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <styled-content> element
  -->
  <!-- STYLED SPECIAL (SUBJECT) CONTENT -->
  <!--
    A stylistically distinct word or phrase 
    within the text, that cannot be tagged using
    any of the other mechanisms for such content.
    In other words: the content cannot be 
    described with bold, italic, monospace or any
    of the other emphasis class elements and
    <named-content> is inappropriate because the
    semantic reason behind the typographic
    distinction is not clear.
    Details at: 
    http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=styled-content
    http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=styled-content
    http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=styled-content
    http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=styled-content
  -->
  <define name="styled-content">
    <element name="styled-content">
      <ref name="styled-content-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="styled-content-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="styled-content-attlist" combine="interleave">
    <ref name="styled-content-atts"/>
  </define>
</grammar>
<!-- ================== End Phrase Class Module ================== -->
