publishing/2.3/rng/journalpubcustom-models.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Journal Publishing DTD Customize Content and -->
<!-- Attributes Module -->
<!-- VERSION:   2.3 -->
<!-- DATE:      February 2007 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD Journal Publishing DTD Customize Content and Attributes Module v2.3 20070202//EN"
  Delivered as file "journalpubcustom-models.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Journal Publishing DTD of the -->
<!-- Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride content models or parts of content -->
<!-- models when making a new DTD from the modules of -->
<!-- the Archiving and Interchange DTD Suite. -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- CONTAINS:   1) PEs that define OR lists of elements to be -->
<!-- mixed with #PCDATA in element content models -->
<!-- (all PEs are named "yyy-elements", where "yyy" -->
<!-- is the name of the primary element whose -->
<!-- content model will use the declared PE.) -->
<!-- 2) PEs that define complete content models. -->
<!-- (names ending in the suffix "-model") -->
<!-- 3) PEs that define attribute list or attribute -->
<!-- value over-rides -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital Archive of Journal Articles -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- September 2004 -->
<!---->
<!-- CREATED BY: Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- archive-dtd@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 2.3                       (DAL/BTU) v2.3 (2007-02-02)
  
       Enhancement Release (2.3) following the Working Group meetings 
       of Oct-Nov/2006-Jan/2007. No backward-incompatible changes.
       Archiving loosened even more. New structures for all the DTDs. 
  
   40. FIG MODEL ELEMENTS - Added <chem-struct-wrapper> to the 
       contents of <figure> using -%chem-struct-wrap.class; inside 
       -%fig-mod; so that you can use a <chem-struct-wrapper> anywhere 
       you can use a <disp-formula>.
  
   39. CONTENT TYPE - The attribute "content-type" added to the
       following elements to preserve/add semantic distinctions:
        - graphic (through graphic-atts)
        - inline-graphic (through inline-graphic-atts)
  
   38. GRAPHIC ATTS - In the parameter entity -%graphic-atts;
       made the following changes:
  
       a) Unfixed the "mimetype" attribute from
             mimetype  CDATA   #FIXED 'image'
          into this:
             mimetype  CDATA   #IMPLIED
  
       b) Made the "mime-subtype" attribute into a CDATA rather 
          than a list of values
  
       c) Added "content-type" attribute to preserve or add semantic
          distinctions.
  
   37. INLINE GRAPHIC ATTS - In the parameter entity 
       -%inline-graphic-atts; made the following changes:
  
       a) Unfixed the "mimetype" attribute from
             mimetype  CDATA   #FIXED 'image'
          into this:
             mimetype  CDATA   #IMPLIED
  
       b) Added "content-type" attribute to preserve or add semantic
          distinctions.
  
       c. Added "baseline-shift" attribute to preserve the positioning
          of the inline graphic relative to the text baseline.
  
   36. JOURNAL METADATA MODEL - Added <trans-title>* and 
       <trans-subtitle>* to the contents of <journal-meta>. 
       This is a temporary insertion for version 2.3. A 
       more structured model for translated titles may be 
       introduced in version 3.0.
  
   35. PERSON GROUP ATTRIBUTES
       a) Added "id" attribute of type ID
  
   34. ARTICLE METADATA MODEL
       a) Added <grant-num> and <grant-sponsor> to the contents of 
       <article-meta>. This is a temporary insertion for version 2.3. 
       A more structured model for grant material and sponsorship 
       is expected to be introduced in version 3.0.
  
   33. SEC MODEL - Changed model to require that either a <label>
       or a <title> be required, instead of requiring a <title>.
       Now there must be one or the other, and there may be both.
         This changes <sec> and <app>.
  
   32. ANONYMOUS - Set <anonymous> (new element) model to EMPTY
  
   31. NLM CITATION - Added <nlm-citation> as an alternative to
       unstructured <citation>s by adding <nlm-citation>
       to -%citation.class;. This changed the models for:
        - <ref>, which uses -%citation.class; inside %ref-model;
  
   30. Updated public identifier to "v2.3 20070202//EN"          
  
       =============================================================
       Version 2.2                       (DAL/BTU) v2.2 (2006-04-30)
  
       Backwards-compatible changes to meet operational needs.
       Typical changes include adding attribute values and making 
       required elements optional.
  
   29. PREFORMAT ELEMENTS - Added -%phrase.class; to allow use of
       <named-content> inside <preformat>.
  
   28. PERSON-GROUP-TYPE ATTRIBUTE VALUES - Added "director"
  
   27. SECTION MODELS
  
       a. Added optional <label> to the start of the
       content models for section (-%sec-model;) and section optional
       title model (-%sec-opt-title-model;). The Blue DTD is being
       used for articles that have already been published.
  
       b. Added new element <sec-meta> to the start of the
       content models for section (-%sec-model;) and section optional
       title model (-%sec-opt-title-model;). There are sections that
       are authored independently, even in journal articles, and 
       this is the start of allowing additional metadata for such
       sections. The first content for <sec-meta> will be 
       <contrib-group>
  
   26. PUBLISHER LOC - Allowed <email>, <uri>, and <ext-link>
       inside <publisher-loc>. Change to %publisher-loc-elements;
  
   25. Updated public identifier to "v2.3 20070202//EN"          
  
       =============================================================
       Version 2.1                       (DAL/BTU) v2.1 (2005-06-30)
  
       Changed to MathML 2.0 and MathML 2.0 Character Sets
       Added new material requested by the online list     
  
   24. FN TYPES - Made into a parameter entity
  
   23. CORRESP MODEL - Added <label> to elements allowed to be
       inside the <corresp> element, using -%label.class; This made
       the -%corresp-elements override the same as the basic default,
       so -%corresp-elements was removed from this module.
  
   22. CONFERENCE MODEL - Conference theme was required, which seems
       to be an error. Is now optional.
  
   21. PREFORMAT ELEMENTS - Added %display-back-matter; back to 
       %preformat-elements; to align Blue with the Suite on
       permissions.
  
   20. PERMISSIONS - Added a new <permissions> wrapper element to
       consolidate copyright and licensing information. For backwards
       compatibility, the new element will be added alongside the
       existing copyright elements. Best practice will be to use the
       new container, but <copyright-statement>, <copyright-year>,
       and <license> will be accepted in their old positions inside
       <article-meta>
        - Added <permissions> to <article-meta> model
        - Added <copyright-holder> to <permissions>
        - Moved <copyright-year> to the common module
        - Moved <license> to common module
        - Moved -%license-atts; to common module
        - Moved -%license-model; to common module
  
   19. JOURNAL TITLES
         a) Added <journal-subtitle> to <journal-meta> through
            -%journal-meta-model;. New element defined in -%common.ent;.
  
   18. Updated public identifier to "v2.3 20070202" 
  
       =============================================================
       Version 2.0                  (Beck/DAL/BTU) v2.0 (2004-08-30)
  
       Minor tweaks before public release. Decision was made not to
       change release number
  
   17. LIST ITEM - Removed over-ride for <list-item>, which has the
       effect of adding an optional <label> at front of model
  
   16. JOURNAL METADATA MODEL - Made publisher optional
  
   15. FOOTNOTE ATTRIBUTES - Added the "symbol" attribute back to
       Footnote attributes
  
   14. DISP-FORMULA - Added -%label.class; therefore removed it 
       from this module, as it was then the same as in the
       basic Suite math.ent
  
   13. AFF-ELEMENTS - Added -%label.class;; therefore removed it 
       from this module, as it was then the same as in the
       basic Suite math.ent
  
   12. ARTICLE METADATA MODEL -
       a. COUNTS - Added to article metadata model
       b. ARTICLE-ID - Made optional and repeatable (was required
          and repeatable)
       c. COPYRIGHT-YEAR - Made optional
  
   11. FOOTNOTE - Delete over-ride of content model. This has the
       effect of making the Publishing DTD the same as base, 
       adding an optional <label> at the front of footnote.
  
       =============================================================
       Version 2.0                       (DAL/BTU) v2.0 (2004-08-30)
  
  
       Major requirement changes led to the new release, producing
       DTD version "2.0":
         a) The splitting of the Archival and Interchange Tag Set 
            DTDs into three DTDs from two: an authoring DTD, an
            archive regularization and interchange DTD (the
            current Blue Publishing DTD), and a preservationist 
            archive DTD (the current Green Archiving and Interchange 
            DTD).
         b) AIT Working Group suggestions from the June 04 meeting 
            and June/July 2004 followup discussions
         c) Suite remodularization to meet new (and newly articulated)
            modularization requirements
         d) New or renamed classes and mixes to make modifications
            easier and more consistent
  
   10. OVER-RIDE OF ARTICLE-META-MODEL - Added new elements
       a. <custom-meta-wrap> containing <custom-meta>
       b. <email>
       c. <issue-id>
       d. <issue-title> (for special title or theme)
       e. <page-range>
       f. <volume-id>
       g. <license> (for now, just a bucket into which to
          dump license-related material until the AIT Workgroup
          does more analysis)
  
    9. MOVE AND REMOVE PARAMETER ENTITY DECLARATIONS
       - Deleted duplicate %might-link-atts; (There were two!)
       - Collected ATTLIST over-rides into one place.
       - Deleted all the Parameter Entities which were
         duplicated in this module ONLY because they were
         needed to parse subsequent entities.
  
    8. ADDRESS-ELEMENTS - added <email> and <uri> to everywhere 
       <ext-link> was allowed, by renaming %ext-link.class; to
       %address-link.class; and using it:
          <email> and <uri> should be added to 
           - %article-meta-model;
           - %aff-elements;
           - %p-elements;
  
    7.  FOOT NOTE ATTRIBUTES
         - added "symbol"
  
    6.  Replaced element names in OR groups with the appropriate
        classes. Not a model change, just entity usage:
         - %array-model;
         - %fig-group-model;
         - %list-item-model;
  
    5. ACCESS CLASS
          ### Customization Alert ###
       a. Took <ext-link> out of -%access.class;. It did not belong.
          It belongs in -%address-link.class;
       b. Added -%address-link.class; to anywhere regular
          %access.class; was used.
  
    4. OVER-RIDE OF ARTICLE-META-MODEL - Added new elements
       a. <custom-meta-wrap> containing <custom-meta>
       b. <email>
       c. <issue-id>
       d. <issue-title> (for special title or theme)
       e. <page-range>
       f. <volume-id>
  
    3. COMPLETE MODELS WHEN OVER-RIDING A MODEL 
       (for all Parameter Entities suffixed "-model")
       ### Customization Alert ###
       a. Made all the model over-rides consistent. Some included
          the outer parentheses, some did not. They all do now,
          as this is the most flexible system, allowing for
          #PCDATA, mixed, or element content. (This is in direct
          contrast to the "-element" suffixed models, which are
          designed to prohibit element content and permit only
          #PCDATA or mixed content.)
       -  %article-meta-model; (added parentheses to Parameter
          Entity and removed them from Element Declaration)
       - %abstract-model;
       - %ack-model;
       - %array-model;
       - %author-notes-model;
       - %def-item-model;
       - %fig-group-model;
       - %gloss-group-model;
       - %journal-meta-model;
       - %list-model;
       - %ref-model;
       - %sec-model;
       - %sec-opt-title-model;
       - %trans-abstract-model;
  
    2. PARAMETER ENTITIES FOR CLASSES/MIXES/ATT LISTS
  
       a. NEW PARAMETER ENTITIES - To correct potential classing 
          problems,  new Parameter Entities were created. The following
          PEs and models were changed to use these new PEs:
               New Content model PEs:
          - %just-para.class;  used in 
               - %list-item-model; 
          - In <author-notes> "(corresp | fn)+" was replaced
              with the %fn-link.class; and the new class
              -%corresp.class; and )
  
       b. RENAMED CLASSES
          ### Customization Alert ###
          Not all classes ended in the ".class" suffix. Changed the 
          following to add the class suffix:
          - %address-elements; (also renamed this one -%address.class;!)
            used in:
               - %aff-elements; 
               - %corresp-elements; 
          - %block-math.class; and -%inline-math.class; used in 
               - %p-elements;
          - %display-back-matter.class; used in 
               - %array-model;
          - %rest-of-para.class;
            Inside the content model for Paragraph <p>, was renamed 
            -%p-elements;. The content model for Named Content 
            and %p-elements; still use %rest-of-para.class;.
  
       c. LINK CLASSES
          ### Customization Alert ###
          - Deleted 
              - %link.class;, 
              - %inpara-address; 
              - %ext-links.class;
          - Replaced above with four link classes: 
            (some unchanged from before)
              - %address-link.class;   (the links used in addresses)
              - %fn-link.class.class;  (just fn)
              - %simple-link.class;    (the internal links, same)
              - %article-link.class;   (links for journal article)
          - All occurrences of %link.class replaced with
              - %address-link.class; and 
              - %simple-link.class;, and 
              - %article-link.class;  links
          - Replaced all occurrences of %ext-links.class; with
            the new %address-links.class;
          - This changed the following Parameter Entities (no DTD 
            model change):
              - %disp-formula-elements;
              - %emphasized.text; 
              - %simple-phrase; 
  
       d. PARA CLASS
          ### Customization Alert ###
          - Deleted %para.class; 
          - Its place in the definition of the Paragraph <p> element 
            will be taken by the -%p-elements; entity.
          - Its place in other mixes will be taken by the combination
            of %just-para.class; and %rest-of-para.class;
  
    1. Created this module from material previously in the single
       journal publishing customization module (journalpubcustomize.ent)
       Created at version "v2.3 20070202"
-->
<!-- ============================================================= -->
<!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
<!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
<!-- ============================================================= -->
<!-- ABBREVIATED JOURNAL TITLE ELEMENTS -->
<!--
  The elements that can be included along with
  data characters inside the content model of
  a <abbrev-journal-title> 
  Removed the face markup, %just-rendition;
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="abbrev-journal-title-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE ACRONYM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference acronym.    
    Removed %simple-text;
  -->
  <define name="conf-acronym-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE LOCATION ELEMENTS -->
  <!--
    Elements for use in the <conf-loc> element 
    Removed %simple-text;
  -->
  <define name="conf-loc-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NAME ELEMENTS -->
  <!--
    Elements for use in the <conf-name> element.
    Removed %simple-text;
  -->
  <define name="conf-name-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference number.     
    Removed %simple-text;
  -->
  <define name="conf-num-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE SPONSOR  ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference sponsor. 
    Removed %simple-text;
  -->
  <define name="conf-sponsor-elements">
    <notAllowed/>
  </define>
  <!-- CONTRACT/GRANT NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the contract number.  
    Removed %simple-text;
  -->
  <define name="contract-elements">
    <notAllowed/>
  </define>
  <!-- DEGREE(S) ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <degrees>                             
    Removed %just-rendition;
  -->
  <define name="degrees-elements">
    <notAllowed/>
  </define>
  <!-- EDITION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    Removed %just-rendition;
  -->
  <define name="edition-elements">
    <notAllowed/>
  </define>
  <!-- FAX NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <fax>    
    Removed %just-rendition;
  -->
  <define name="fax-elements">
    <notAllowed/>
  </define>
  <!-- GIVEN (FIRST) NAMES ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <given-names>                   
    Removed %just-rendition;
  -->
  <define name="given-names-elements">
    <notAllowed/>
  </define>
  <!-- INSTITUTION NAME ELEMENTS -->
  <!--
    Elements for use in the <institution> 
    element                                    
    Removed %break.class; and %emphasis.class;
  -->
  <define name="institution-elements">
    <ref name="subsup.class"/>
  </define>
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issue> element     
    Removed %just-rendition;
  -->
  <define name="issue-elements">
    <notAllowed/>
  </define>
  <!-- JOURNAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <journal-title>
    Removed %just-rendition;
  -->
  <define name="journal-title-elements">
    <notAllowed/>
  </define>
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword <kwd>.
  -->
  <define name="kwd-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PATENT NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <patent>                             
    Removed %just-rendition;
  -->
  <define name="patent-elements">
    <notAllowed/>
  </define>
  <!-- PHONE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <phone number>             
    Removed %just-rendition;
  -->
  <define name="phone-elements">
    <notAllowed/>
  </define>
  <!-- PREFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <prefix>  
    Removed %just-rendition;
  -->
  <define name="prefix-elements">
    <notAllowed/>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which white space,
    such as tabs, line feeds, and spaces will
    be preserved
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="emphasis.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
    Elements for use in the Publisher Location
    <publisher-loc> element
    Removed %address.class;, %address-link.class;,
    %emphasis.class;, and %subsup.class;
  -->
  <define name="publisher-loc-elements">
    <ref name="address-link.class"/>
  </define>
  <!-- PUBLISHER'S NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <publisher-name>   
    Removed %just-rendition;
  -->
  <define name="publisher-name-elements">
    <notAllowed/>
  </define>
  <!-- SUFFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <suffix>
    Removed %just-rendition;
  -->
  <define name="suffix-elements">
    <notAllowed/>
  </define>
  <!-- SURNAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <surname>                                
    Removed %just-rendition;
  -->
  <define name="surname-elements">
    <notAllowed/>
  </define>
  <!-- URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <uri> 
    Removed %just-rendition;
  -->
  <define name="uri-elements">
    <notAllowed/>
  </define>
  <!-- VOLUME NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <volume> 
    Removed %just-rendition;
  -->
  <define name="volume-elements">
    <notAllowed/>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ABSTRACT MODEL -->
  <!--
                        Abstracts may contain one or more paragraphs
    (as a typical abstract does) or titled
    sections, as is done in many physics
    articles.
    Unlike the default model in the base DTD
    Suite, this <abstract> requires that all
    sections in the abstract start with titles.
  -->
  <define name="abstract-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec"/>
    </zeroOrMore>
  </define>
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!-- Content model for the <ack> element -->
  <define name="ack-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ref-list"/>
    </zeroOrMore>
  </define>
  <!-- ANONYMOUS MODEL -->
  <!--
    Unlike in Green, <anonymous> is empty. When 
    present, it is used to generate the text
    "anonymous" or "anon.", etc.
  -->
  <define name="anonymous-model">
    <empty/>
  </define>
  <!-- ARRAY CONTENT MODEL -->
  <!--
    The element used to contain material in
    rows and columns that is just a block insert
    into the text flow, not numbered or called a
    table, and not titled or captioned
  -->
  <define name="array-model">
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <choice>
      <zeroOrMore>
        <ref name="just-base-display.class"/>
      </zeroOrMore>
      <ref name="tbody.class"/>
    </choice>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- ARTICLE METADATA MODEL -->
  <!--
    Full content model for the metadata that is
    specific to the article.                  
    Unlike in Archive DTD, some of the metadata  
    is required here.
  -->
  <define name="article-meta-model">
    <zeroOrMore>
      <ref name="article-id"/>
    </zeroOrMore>
    <optional>
      <ref name="article-categories"/>
    </optional>
    <ref name="title-group"/>
    <zeroOrMore>
      <choice>
        <ref name="contrib-group"/>
        <ref name="aff"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="author-notes"/>
    </optional>
    <oneOrMore>
      <ref name="pub-date"/>
    </oneOrMore>
    <optional>
      <ref name="volume"/>
    </optional>
    <zeroOrMore>
      <ref name="volume-id"/>
    </zeroOrMore>
    <optional>
      <ref name="issue"/>
    </optional>
    <zeroOrMore>
      <ref name="issue-id"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-title"/>
    </zeroOrMore>
    <optional>
      <ref name="supplement"/>
    </optional>
    <optional>
      <choice>
        <group>
          <ref name="fpage"/>
          <optional>
            <ref name="lpage"/>
          </optional>
          <optional>
            <ref name="page-range"/>
          </optional>
        </group>
        <ref name="elocation-id"/>
      </choice>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="address-link.class"/>
        <ref name="product"/>
        <ref name="supplementary-material"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="history"/>
    </optional>
    <optional>
      <ref name="copyright-statement"/>
    </optional>
    <optional>
      <ref name="copyright-year"/>
    </optional>
    <optional>
      <ref name="license"/>
    </optional>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="self-uri"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="related-article"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-abstract"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contract-num"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contract-sponsor"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="grant-num"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="grant-sponsor"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="conference"/>
    </zeroOrMore>
    <optional>
      <ref name="counts"/>
    </optional>
    <zeroOrMore>
      <ref name="custom-meta-wrap"/>
    </zeroOrMore>
  </define>
  <!-- AUTHOR NOTE MODEL -->
  <!-- The content model of a <author-notes>. -->
  <define name="author-notes-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="corresp.class"/>
        <ref name="fn-link.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- CONFERENCE MODEL -->
  <!--
    The content model of the <conference> 
    element
  -->
  <define name="conference-model">
    <ref name="conf-date"/>
    <oneOrMore>
      <choice>
        <ref name="conf-name"/>
        <ref name="conf-acronym"/>
      </choice>
    </oneOrMore>
    <optional>
      <ref name="conf-num"/>
    </optional>
    <optional>
      <ref name="conf-loc"/>
    </optional>
    <zeroOrMore>
      <ref name="conf-sponsor"/>
    </zeroOrMore>
    <optional>
      <ref name="conf-theme"/>
    </optional>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <zeroOrMore>
      <ref name="name.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="degree.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="contrib-info.class"/>
    </zeroOrMore>
  </define>
  <!-- DATE ELEMENTS MODEL -->
  <!--
    The content models for elements that describe
    dates, such as Publication Date <pub-date> and
    History Dates <date>.  The <string-date>
    element holds dates for which months and 
    years are not given, for example "first 
    quarter", "spring", etc.   
    Unlike the base DTD Suite, this <date> 
    requires a <year> and may not take a string
    date as an alternative.
  -->
  <define name="date-model">
    <optional>
      <choice>
        <group>
          <optional>
            <ref name="day"/>
          </optional>
          <optional>
            <ref name="month"/>
          </optional>
        </group>
        <ref name="season"/>
      </choice>
    </optional>
    <ref name="year"/>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM ELEMENTS -->
  <!-- The content model of a <def-item>. -->
  <define name="def-item-model">
    <ref name="term"/>
    <zeroOrMore>
      <ref name="def"/>
    </zeroOrMore>
  </define>
  <!-- ET AL -->
  <!--
    Unlike in NLMART, <etal> is empty. When 
    present, it is used to generate the text
    "et al."
  -->
  <define name="etal-model">
    <empty/>
  </define>
  <!-- FIGURE-LIKE CONTENT MODEL -->
  <!--
    Content model for the Figure element and any
    similarly structured elements              
    Made <label> and <caption> non-repeatable.
  -->
  <define name="fig-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label.class"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="block-math.class"/>
        <ref name="chem-struct-wrap.class"/>
        <ref name="intable-para.class"/>
        <ref name="just-table.class"/>
        <ref name="just-para.class"/>
        <ref name="list.class"/>
        <ref name="simple-display.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- FIGURE GROUP MODEL -->
  <!-- Content model for a <fig-group> -->
  <define name="fig-group-model">
    <optional>
      <ref name="caption"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="fig-display.class"/>
        <ref name="just-base-display.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- JOURNAL METADATA MODEL -->
  <!--
    Content model for the journal metadata
    element <journal-meta>
  -->
  <define name="journal-meta-model">
    <oneOrMore>
      <ref name="journal-id"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="journal-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="journal-subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abbrev-journal-title"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="issn"/>
    </oneOrMore>
    <optional>
      <ref name="publisher"/>
    </optional>
    <optional>
      <ref name="notes"/>
    </optional>
  </define>
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <define name="list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="list-item"/>
    </oneOrMore>
  </define>
  <!-- REFERENCE ITEM MODEL -->
  <!-- Content model for the <ref> element -->
  <define name="ref-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="citation.class"/>
        <ref name="note.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that a
    either <title> or a <label> (which in some 
    journals takes the place of a title) must be
    present. One or the other must be present
    for autogeneration of a Table of Contents or
    other navigation. Used for elements
    such as Section and Appendix.
  -->
  <define name="sec-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <choice>
      <group>
        <ref name="label"/>
        <optional>
          <ref name="title"/>
        </optional>
      </group>
      <ref name="title"/>
    </choice>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    copyright-statement may or may not have 
    an initial title
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- TRANSLATED ABSTRACT MODEL -->
  <!--
    Content model for an <trans-abstract> 
    element
  -->
  <define name="trans-abstract-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATE LINKING ATTRIBUTES -->
  <!--                     (For use in the attribute over-rides below) -->
  <!-- ============================================================= -->
  <!-- DISPLAY ATTRIBUTES OPTIONAL ID -->
  <!--
    position   Must this display object (figure, boxed text,
    etc.) be anchored in its exact location
    within the text or may it float, for example
    to the top of the next page, next column, or
    within a separate window?  Values are:
      anchor      Object must remain in place
      float       Object is not anchored and
                  may be moved to a new column,
                  a new window, etc.
      margin      In print, item should be placed
                  in the margin or gutter. 
                  Online the item should 
                  remain closely associated 
                  with the text.
  -->
  <define name="display-atts">
    <optional>
      <attribute name="position" a:defaultValue="float">
        <choice>
          <value>anchor</value>
          <value>float</value>
          <value>margin</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <define name="link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <attribute name="xlink:href"/>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Attributes for any element that may be a link
    but need not be one
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- CITATION ATTRIBUTES -->
  <!-- Attributes for <citation> -->
  <define name="citation-atts">
    <optional>
      <attribute name="citation-type">
        <choice>
          <value>book</value>
          <value>commun</value>
          <value>confproc</value>
          <value>discussion</value>
          <value>gov</value>
          <value>journal</value>
          <value>list</value>
          <value>patent</value>
          <value>thesis</value>
          <value>web</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- FOOTNOTE TYPE VALUES -->
  <!--
    Used to mark the semantics of the footnote,
    what information does this footnote convey.
  -->
  <define name="fn-types">
    <choice>
      <value>abbr</value>
      <value>com</value>
      <value>con</value>
      <value>conflict</value>
      <value>corresp</value>
      <value>current-aff</value>
      <value>deceased</value>
      <value>edited-by</value>
      <value>equal</value>
      <value>financial-disclosure</value>
      <value>on-leave</value>
      <value>participating-researchers</value>
      <value>presented-at</value>
      <value>presented-by</value>
      <value>present-address</value>
      <value>previously-at</value>
      <value>study-group-members</value>
      <value>supplementary-material</value>
      <value>supported-by</value>
      <value>other</value>
    </choice>
  </define>
  <!-- FOOTNOTE ATTRIBUTES -->
  <!--
    Attribute list for Footnote element        
    Unlike base, "fn-type" values have been made 
    explicit and removed the symbol attribute
  -->
  <define name="fn-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fn-type">
        <choice>
          <ref name="fn-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="symbol"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- GIVEN NAMES ATTRIBUTES -->
  <!--
    Removed the "initial" attribute for the given
    name, that held initials for those cases in 
    which they could not be algorithmically 
    determined.
  -->
  <define name="given-names-atts">
    <empty/>
  </define>
  <!-- GRAPHIC ATTRIBUTES -->
  <!-- Attributes for Graphic <graphic> -->
  <define name="graphic-atts">
    <optional>
      <attribute name="alternate-form-of">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="alt-version" a:defaultValue="no">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <ref name="display-atts"/>
    <ref name="link-atts"/>
  </define>
  <!-- SURNAME ATTRIBUTES -->
  <!--
    Removed the initial(s) for the surname of
    the person. Particularly useful in those 
    cases that cannot be algorithmically 
    determined.
  -->
  <define name="surname-atts">
    <empty/>
  </define>
  <!-- INLINE GRAPHIC ATTRIBUTES -->
  <!--
    Attributes for Inline Graphic 
    <inline-graphic>
  -->
  <define name="inline-graphic-atts">
    <optional>
      <attribute name="alternate-form-of">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="baseline-shift"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <ref name="link-atts"/>
  </define>
  <!-- PERSON GROUP ATTRIBUTES -->
  <!--
    Attributes for the <person-group> element 
    Valid Types include:
      author - Content creators
      editor - Content editors
      guest-editor
             - a content editor that has been invited 
               to edit all or part of a work.
      inventor
             - Idea, software, or machine creator
      assignee
             - the person to whom a patent is awarded
      translator
             - Translated the cited work from
               one language into another
      transed
             - Editor of a translated version of
               a work
      allauthors
             - used to identify a complete list 
               of authors when a subset of the 
               author group has been used 
               elsewhere in the citation. See 
               "Standard reference to a chapter 
               in a book" (II.C.1) in the 
               tagging examples.
      compiler 
             - Put together a composite work
               from multiple sources
  -->
  <define name="person-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="person-group-type">
        <choice>
          <value>allauthors</value>
          <value>assignee</value>
          <value>author</value>
          <value>compiler</value>
          <value>director</value>
          <value>editor</value>
          <value>guest-editor</value>
          <value>inventor</value>
          <value>translator</value>
          <value>transed</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- SECTION ATTRIBUTES -->
  <!-- Attribute list for Section element -->
  <define name="sec-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sec-type"/>
    </optional>
  </define>
</grammar>
<!-- ================== End Publishing Content/ATT Override ====== -->
